Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

test-api:
  stage: test
  image: docker/compose:latest
  before_script:
  - export DOCKER_HOST="tcp://localhost:2375"
  - docker info
  - docker-compose --version
  - apk add --no-cache git bash
  script:
  - api/dev_env/run_test.sh --cover --unique --build

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-delegate-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/storybook_build

build-delegate-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/build/

build-publicSite-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/publicSite
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/publicSite/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build/

build-api:
  stage: build
  image: golang:1.14.1-alpine
  script:
  - cd api
  - go mod download
  - go build main.go
  artifacts:
    paths:
    - api/main
    expire_in: 3d

deploy-storybooks:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read
  - cd ../delegate
  ...

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-publicSite-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: public-staging
    url: http://www.ttc.devserver.london
  variables:
    EB_ENV: react-public
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/publicSite
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Add counting course status
  react/manager/src/__generated__/App_DelegatesPage_Query.graphql.ts
  react/manager/src/views/DelegatesPage.tsx
  react/manager/src/views/__generated__/DelegatesPage_delegates.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Setup updateCertificatetType mutation
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for createCAANumber
  api/middleware/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Add middleware for caanumbers + add fixtures
  api/helpers/testhelpers/fixtures/caa_numbers.yml
  api/middleware/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Add middleware for UpdateCertificateType
  api/middleware/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Setup updateCAANumber mutation
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for updateCAANumber
  api/middleware/course/certificate.go
  api/middleware/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Fixed error
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Add individual signup
  react/publicSite/src/__generated__/RegisterIndividual_CreateIndividualMutation.graphql.ts
  react/publicSite/src/api/auth.ts
  react/publicSite/src/api/config.ts
  react/publicSite/src/api/environment.ts
  react/publicSite/src/api/index.ts
  react/publicSite/src/api/schema.graphql
  react/publicSite/src/components/Overview/Registration/RegisterIndividual.tsx
  react/publicSite/src/views/RegisterIndividual.tsx
Due: build-publicSite-webpack, deploy-publicSite-staging

Individual signup + transactional email
  api/application/users/individual.go
  api/email/delegate.go
  api/email/email.go
  api/email/individual.go
  api/email/templates/individualAccountCreated.html
  react/publicSite/src/__generated__/RegisterCompany_CompanyRequestMutation.graphql.ts
  react/publicSite/src/api/schema.graphql
  react/publicSite/src/components/Overview/Registration/RegisterCompany.tsx
  react/publicSite/src/components/Overview/Registration/RegisterIndividual.tsx
  react/publicSite/src/views/RegisterCompany.tsx
  react/publicSite/src/views/RegisterIndividual.tsx
Due: test-api, build-publicSite-webpack, build-api, deploy-publicSite-staging, deploy-api-staging

Setup for dev
  react/admin/src/App.js
  react/delegate/src/api/environment.ts
  react/manager/src/api/environment.ts
  react/publicSite/src/api/config.ts
Due: build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging

Adjust search
  react/admin/src/components/SyllabusSearch.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Add more upload types
  api/application/blog.go
  api/application/course/course.go
  api/application/course/module.go
  api/application/course/question.go
  api/application/users/manager.go
Due: test-api, build-api, deploy-api-staging

Publish + unpublish courses
  api/application/course/course.go
  api/application/course/course_app.go
  api/gentypes/course.go
  api/middleware/course/course.go
  api/resolvers/course.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/course.graphql
  react/admin/src/App.js
  react/admin/src/views/CreateCourse/About/About.js
  react/admin/src/views/CreateCourse/About/SideOptions.js
  react/admin/src/views/CreateCourse/Header.js
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/Overview/Overview.js
  react/admin/src/views/CreateCourse/index.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Auth
  api/application/course/course.go
Due: test-api, build-api, deploy-api-staging

Users can only view published courses
  api/application/course/course.go
  api/application/course/purchasing.go
  api/middleware/course/course.go
Due: test-api, build-api, deploy-api-staging

Add test
  api/helpers/testhelpers/fixtures/courses.yml
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/queries_test.go
Due: test-api, build-api, deploy-api-staging

back to using devserver
  react/admin/src/App.js
Due: build-admin, deploy-admin-staging

Fix admin warnings
  react/admin/src/components/SyllabusSearch.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Individuals can login
  api/resolvers/delegate_mutations.go
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/views/AppHolder.tsx
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Add manager login box
  react/delegate/src/components/LoginDialogue/LoginDialogue.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Use https
  react/admin/src/App.js
  react/delegate/src/api/environment.ts
  react/publicSite/src/api/config.ts
Due: build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, deploy-storybooks, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging

Rebuild api
  api/resolvers/my_course.go
Due: test-api, build-api, deploy-api-staging

Clean up 'no courses' div
  react/delegate/src/api/auth.ts
  react/delegate/src/api/index.ts
  react/delegate/src/components/LoginDialogue/LoginDialogue.tsx
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Add + update upload mutation for cert body image
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/middleware/course/certificate.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
Due: test-api, build-api, deploy-api-staging

Show certificate only for individuals
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/sharedComponents/CourseTable/CertificateButton.tsx
  react/delegate/src/sharedComponents/CourseTable/CourseTable.tsx
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_user.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Cont: merge dev to delegate/trainingProgressPage
  api/resolvers/mutations.go
Due: test-api, build-api, deploy-api-staging

Add pagination to trainingProgressPage
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/components/ActivityTable/ActivityTable/ActivityTable.tsx
  react/delegate/src/components/ActivityTable/ActivityTable/__generated__/ActivityTable_activity.graphql.ts
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_activity.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Add individual purchasing
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Holder_Query.graphql.ts
  react/delegate/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/components/SingleUser/SingleUser.tsx
  react/delegate/src/components/SingleUser/Tabs.tsx
  react/delegate/src/sharedComponents/CourseTable/CertificateButton.tsx
  react/delegate/src/sharedComponents/SideModal/Tabs/Payment/Payment.stories.tsx
  react/delegate/src/sharedComponents/SideModal/Tabs/Payment/Payment.tsx
  react/delegate/src/sharedComponents/SideModal/Tabs/Payment/__generated__/Payment_PurchaseMutation.graphql.ts
  react/delegate/src/sharedComponents/SideModal/Tabs/Tabs.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/SideModalProvider.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/delegate/src/views/__generated__/AppHolderQuery.graphql.ts
  react/delegate/src/views/__generated__/AppHolder_courses.graphql.ts
  react/delegate/src/views/__generated__/AppHolder_user.graphql.ts
  react/manager/src/components/MultiUser/MultiUser.tsx
  react/manager/src/components/MultiUser/Tabs.tsx
  react/manager/src/components/PageHeader/PageHeader.tsx
  react/manager/src/components/SingleUser/Tabs.tsx
  react/manager/src/sharedComponents/CourseTable/CertificateButton.tsx
  react/manager/src/sharedComponents/SideModal/Tabs/Payment/Payment.stories.tsx
  react/manager/src/sharedComponents/SideModal/Tabs/Payment/Payment.tsx
  react/manager/src/sharedComponents/SideModal/Tabs/Payment/__generated__/Payment_PurchaseMutation.graphql.ts
  react/manager/src/sharedComponents/SideModal/Tabs/Tabs.tsx
  react/publicSite/src/sharedComponents/CourseTable/CertificateButton.tsx
  react/publicSite/src/sharedComponents/SideModal/Tabs/Payment/Payment.stories.tsx
  react/publicSite/src/sharedComponents/SideModal/Tabs/Payment/Payment.tsx
  react/publicSite/src/sharedComponents/SideModal/Tabs/Payment/__generated__/Payment_PurchaseMutation.graphql.ts
  react/publicSite/src/sharedComponents/SideModal/Tabs/Tabs.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Add updateDelegate API mutation
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/components/Delegate/DelegateSlideIn/DelegateSlideIn.tsx
  react/manager/src/components/Delegate/DelegateSlideIn/__generated__/mutations_CreateDelegateMutation.graphql.ts
  react/manager/src/components/Delegate/DelegateSlideIn/__generated__/mutations_UpdateDelegateMutation.graphql.ts
  react/manager/src/components/Delegate/DelegateSlideIn/mutations.ts
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Cont: Add API to a delegate page
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Add API to activityTable
  react/manager/src/App.tsx
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.stories.tsx
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.tsx
  react/manager/src/components/ErrorBoundarys/PageBoundary.tsx
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_activity.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Individuals can purchase from their screens
  api/application/course/purchasing.go
  api/gentypes/course.go
  api/middleware/orders.go
  api/middleware/user/course_taker.go
  api/middleware/user/delegate.go
  api/middleware/user/delegate_test.go
  api/middleware/user/individual.go
  api/middleware/user/individual_test.go
  api/schema/bindata.go
  api/schema/type/course.graphql
  react/delegate/src/components/SingleUser/SingleUser.tsx
  react/delegate/src/components/SingleUser/Tabs.tsx
  react/delegate/src/sharedComponents/SideModal/PaymentForm/PaymentForm.tsx
  react/delegate/src/sharedComponents/SideModal/SideModal.stories.tsx
  react/delegate/src/sharedComponents/SideModal/Tabs/Payment/Payment.tsx
  react/delegate/src/sharedComponents/core/Spinner/Spinner.stories.tsx
  react/delegate/src/sharedComponents/core/Spinner/Spinner.tsx
  react/delegate/src/sharedComponents/core/Spinner/index.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/manager/src/sharedComponents/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/src/sharedComponents/SideModal/SideModal.stories.tsx
  react/manager/src/sharedComponents/SideModal/Tabs/Payment/Payment.tsx
  react/manager/src/sharedComponents/core/Spinner/Spinner.stories.tsx
  react/manager/src/sharedComponents/core/Spinner/Spinner.tsx
  react/manager/src/sharedComponents/core/Spinner/index.tsx
  react/publicSite/src/sharedComponents/SideModal/PaymentForm/PaymentForm.tsx
  react/publicSite/src/sharedComponents/SideModal/SideModal.stories.tsx
  react/publicSite/src/sharedComponents/SideModal/Tabs/Payment/Payment.tsx
  react/publicSite/src/sharedComponents/core/Spinner/Spinner.stories.tsx
  react/publicSite/src/sharedComponents/core/Spinner/Spinner.tsx
  react/publicSite/src/sharedComponents/core/Spinner/index.tsx
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-api-staging

Added pagination
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Used small search bar
  react/admin/src/components/SearchBar/Search.js
  react/admin/src/components/SearchBar/index.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Show, edit + add certificate types
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/CertificateType/CertificateTypePage.js
  react/admin/src/views/CertificateType/CreateCertificateType.js
  react/admin/src/views/CertificateType/Header.js
  react/admin/src/views/CertificateType/Overview/Overview.js
  react/admin/src/views/CertificateType/Overview/index.js
  react/admin/src/views/CertificateType/UpdateCertificateType.js
  react/admin/src/views/CertificateTypesList/Header.js
  react/admin/src/views/CertificateTypesList/Results.js
  react/admin/src/views/CertificateTypesList/index.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Update ActivityTable to be in fragContainer
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.tsx
  react/manager/src/components/Delegate/ActivityTable/__generated__/ActivityTable_activity.graphql.ts
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_activity.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Added individuals pagination
  react/admin/src/components/Results.js
  react/admin/src/components/SearchBar/Search.js
  react/admin/src/components/SearchBar/index.js
  react/admin/src/views/IndividualDetails/Overview/IndividualInfo.js
  react/admin/src/views/IndividualsList/Results.js
  react/admin/src/views/IndividualsList/index.js
Due: build-admin, deploy-admin-staging

Update ActivityTable
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/components/ActivityTable/ActivityTable/ActivityTable.tsx
  react/delegate/src/components/ActivityTable/ActivityTable/__generated__/ActivityTable_activity.graphql.ts
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_activity.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*
