Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  variables:
    EB_ENV: react-admin
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/admin
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Delete managers
  api/errors/general.go
  api/gentypes/manager.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/resolvers/mutations.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/query.graphql
  api/schema/type/users.graphql
Due: none

Start "addAdmin" mutation
  api/gentypes/admin.go
  api/schema/mutation.graphql
  api/schema/type/admin.graphql
Due: none

User search + TTC ID components
  react/manager/.storybook/preview-head.html
  react/manager/Dockerfile.dev
  react/manager/bin/run_dev.sh
  react/manager/package.json
  react/manager/src/components/IdentTag/IdentTag.stories.tsx
  react/manager/src/components/IdentTag/IdentTag.tsx
  react/manager/src/components/IdentTag/index.tsx
  react/manager/src/components/UserSearch/UserResult.tsx
  react/manager/src/components/UserSearch/UserResults.tsx
  react/manager/src/components/UserSearch/UserSearch.stories.tsx
  react/manager/src/components/UserSearch/UserSearch.tsx
  react/manager/src/components/UserSearch/index.tsx
  react/manager/src/components/core/CoreInput/CoreInput.tsx
  react/manager/src/components/core/_exampleFile.tsx
  react/manager/src/helpers/theme.tsx
  react/manager/yarn.lock
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add debounce
  react/manager/src/components/UserSearch/UserResults.tsx
  react/manager/src/components/UserSearch/UserSearch.stories.tsx
  react/manager/src/components/UserSearch/UserSearch.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Sort loading issue
  react/manager/src/components/UserSearch/UserSearch.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Spell dialogue correctly
  react/manager/src/components/LoginDialoge/LoginDialoge.stories.tsx
  react/manager/src/components/LoginDialoge/LoginDialoge.tsx
  react/manager/src/components/LoginDialoge/index.tsx
  react/manager/src/components/LoginDialogue/FancyButton.tsx
  react/manager/src/components/LoginDialogue/FancyInput/FancyInput.stories.tsx
  react/manager/src/components/LoginDialogue/FancyInput/FancyInput.tsx
  react/manager/src/components/LoginDialogue/FancyInput/index.tsx
  react/manager/src/components/LoginDialogue/LoginDialogue.stories.tsx
  react/manager/src/components/LoginDialogue/LoginDialogue.tsx
  react/manager/src/components/LoginDialogue/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add and remove admins
  api/errors/general.go
  api/gentypes/admin.go
  api/loader/admin.go
  api/middleware/admin.go
  api/middleware/middleware.go
  api/resolvers/mutations.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/admin.graphql
Due: none

Update bindata
  api/schema/bindata.go
Due: none

AWS S3 direct image uploads
  api/auth/auth.go
  api/config.yml
  api/errors/general.go
  api/go.mod
  api/go.sum
  api/helpers/config.go
  api/middleware/auth.go
  api/s3/upload.go
  api/s3/upload_test.go
  api/schema/mutation.graphql
Due: none

changed button interface and added icon size param
  react/manager/src/components/core/Button/Button.stories.tsx
  react/manager/src/components/core/Button/Button.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

formatting + removed redundant style
  react/manager/src/components/core/Button/Button.stories.tsx
  react/manager/src/components/core/Button/Button.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Wonderful File Upload Mechanism
  api/auth/auth.go
  api/auth/image_auth.go
  api/config.yml
  api/errors/general.go
  api/gentypes/misc.go
  api/helpers/config.go
  api/main.go
  api/middleware/company.go
  api/middleware/manager.go
  api/models/manager.go
  api/models/user.go
  api/resolvers/mutations.go
  api/s3/upload.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/uploads/upload.go
  api/uploads/upload_test.go
  docker-compose.yml
Due: none

Fix tests
  api/loader/manager_test.go
  api/uploads/upload_test.go
Due: none

Kick build
  react/manager/.gitignore
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update styles
  react/admin/public/images/logos/logo--white.png
  react/admin/public/images/logos/logo--white.svg
  react/admin/src/layouts/Auth/Topbar.js
  react/admin/src/layouts/Dashboard/TopBar.js
  react/admin/src/mock/dashboardMock.js
  react/admin/src/mock/userMock.js
  react/admin/src/reducers/sessionReducer.js
  react/admin/src/theme/palette.js
  react/admin/src/views/Profile/Header.js
Due: build-admin, deploy-admin-staging

added fancy button
  react/manager/src/components/LoginDialogue/FancyButton.tsx
  react/manager/src/components/LoginDialogue/LoginDialogue.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

updated storybooks
  react/manager/src/components/LoginDialogue/FancyButton/FancyButton.stories.tsx
  react/manager/src/components/LoginDialogue/FancyButton/FancyButton.tsx
  react/manager/src/components/LoginDialogue/FancyButton/index.tsx
  react/manager/src/components/LoginDialogue/FancyInput/FancyInput.stories.tsx
  react/manager/src/components/LoginDialogue/LoginDialogue.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

added little hyperlink
  react/manager/src/components/LoginDialogue/LoginDialogue.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

created quick overview component + snippets
  .vscode/component.code-snippets
  react/manager/src/components/Overview/QuickInfo/QuickInfo.stories.tsx
  react/manager/src/components/Overview/QuickInfo/QuickInfo.tsx
  react/manager/src/components/Overview/QuickInfo/index.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Admin site updates
  react/admin/src/views/CompanyManagementDetails/Delegates.js
  react/admin/src/views/CompanyManagementDetails/Managers.js
  react/admin/src/views/CompanyManagementDetails/Summary/CustomerInfo.js
  react/admin/src/views/CompanyManagementDetails/index.js
Due: build-admin, deploy-admin-staging

Update user page
  react/admin/src/views/UserPage/Summary/CustomerInfo.js
Due: build-admin, deploy-admin-staging

Fix tslint errs
  react/admin/src/views/CompanyManagementDetails/Delegates.js
  react/admin/src/views/CompanyManagementDetails/Managers.js
Due: build-admin, deploy-admin-staging

Start on getting manager profile urls from resolvers
  api/config.yml
  api/gentypes/manager.go
  api/gentypes/user.go
  api/helpers/config.go
  api/middleware/manager.go
  api/models/manager.go
  api/models/user.go
  api/resolvers/company.go
  api/resolvers/manager.go
  api/schema/bindata.go
  api/schema/type/users.graphql
  api/uploads/upload.go
Due: none

Save company addresses + address loader
  api/database/migration/migration.go
  api/gentypes/company.go
  api/gentypes/misc.go
  api/loader/address.go
  api/loader/company.go
  api/loader/loaders.go
  api/middleware/address.go
  api/middleware/company.go
  api/models/address.go
  api/models/company.go
  api/resolvers/company.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/company.graphql
Due: none

Feature/course box
  react/manager/src/components/Overview/CourseCard/CourseCard.stories.tsx
  react/manager/src/components/Overview/CourseCard/CourseCard.tsx
  react/manager/src/components/Overview/CourseCard/FooterIcon.tsx
  react/manager/src/components/Overview/CourseCard/index.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Create company request
  api/database/migration/migration.go
  api/gentypes/company.go
  api/middleware/company_request.go
  api/models/company_request.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/company.graphql
Due: none

Add approval to companys
  api/database/migration/migration.go
  api/gentypes/company.go
  api/gentypes/manager.go
  api/middleware/company.go
  api/middleware/company_request.go
  api/middleware/manager.go
  api/models/company.go
  api/models/company_request.go
  api/resolvers/company.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/company.graphql
  api/schema/type/users.graphql
Due: none

fixed missing import
  react/manager/src/components/Overview/QuickInfo/QuickInfo.stories.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

added logo
  react/manager/src/assets/logo/ttc-logo-icon.svg
  react/manager/src/assets/logo/ttc-logo.svg
  react/manager/src/components/LoginDialogue/LoginDialogue.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

first pass
  .vscode/component.code-snippets
  react/manager/package.json
  react/manager/src/components/LoginDialogue/FancyButton/FancyButton.tsx
  react/manager/src/components/LoginDialogue/LoginDialogue.tsx
  react/manager/src/components/core/Icon/Icon.tsx
  react/manager/src/components/core/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/SideModal/SideModal.tsx
  react/manager/src/components/core/SideModal/index.tsx
  react/manager/src/helpers/theme.tsx
  react/manager/yarn.lock
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

slight improvements
  react/manager/src/components/core/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/SideModal/SideModal.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

added a comment
  react/manager/src/components/core/SideModal/SideModal.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

started adding tab system
  react/manager/package.json
  react/manager/src/components/LoginDialogue/FancyButton/FancyButton.tsx
  react/manager/src/components/core/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/SideModal/Tabs/Tabs.tsx
  react/manager/src/components/core/SideModal/Tabs/index.tsx
  react/manager/yarn.lock
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

added Tabs component, problems with typescript
  react/manager/src/components/core/Button/Button.tsx
  react/manager/src/components/core/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/SideModal/Tabs/Tabs.tsx
  react/manager/src/components/core/SideModal/Tabs/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Approve companies mutation
  api/middleware/company.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
Due: none

finished tab system
  react/manager/src/components/LoginDialogue/FancyButton/FancyButton.tsx
  react/manager/src/components/core/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/SideModal/SideModal.tsx
  react/manager/src/components/core/SideModal/Tabs/Tabs.tsx
  react/manager/src/components/core/SideModal/Tabs/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

updated storybook
  react/manager/src/components/core/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/SideModal/Tabs/Tabs.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

remove useless blur
  react/manager/src/components/core/SideModal/SideModal.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Move auth into separate handler
  api/handler/auth.go
  api/handler/handler.go
  api/main.go
  api/schema/bindata.go
Due: none

created spinner
  react/manager/src/components/core/Spinner/Spinner.stories.tsx
  react/manager/src/components/core/Spinner/Spinner.tsx
  react/manager/src/components/core/Spinner/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Path conditions:
  build-admin: any of: react/admin/**/*
  build-manager-storybook: any of: react/manager/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-manager-storybook: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
