Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  variables:
    EB_ENV: react-admin
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/admin
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Add lessons query
  api/gentypes/lesson.go
  api/middleware/lesson.go
  api/resolvers/lesson.go
  api/resolvers/queries.go
  api/schema/query.graphql
  api/schema/type/lesson.graphql
Due: none

Add Pricing options
  react/admin/src/components/EditorCard.js
  react/admin/src/views/CreateCourse/About/About.js
  react/admin/src/views/CreateCourse/About/Introduction.js
  react/admin/src/views/CreateCourse/About/Requirements.js
  react/admin/src/views/CreateCourse/About/SideOptions.js
  react/admin/src/views/CreateCourse/About/ToConsider.js
  react/admin/src/views/CreateCourse/CourseBuilder/CourseBuilder.js
  react/admin/src/views/CreateCourse/Pricing/SideOptions.js
  react/admin/src/views/CreateCourse/Pricing/index.js
  react/admin/src/views/CreateCourse/index.js
Due: build-admin, deploy-admin-staging

Add course builder section
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/CreateCourse/index.js
Due: build-admin, deploy-admin-staging

Fix spacing + background color
  react/delegate/src/components/LoginDialogue/LoginDialogue.tsx
  react/delegate/src/views/Login/LoginPage.tsx
Due: none

Massive button + font weight change
  react/delegate/src/components/Button/Button.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
Due: none

Align center
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.stories.tsx
  react/delegate/src/sharedComponents/core/CircleBorder/CircleBorder.stories.tsx
  react/delegate/src/sharedComponents/core/CircleBorder/CircleBorder.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.stories.tsx
  react/manager/src/sharedComponents/core/CircleBorder/CircleBorder.stories.tsx
  react/manager/src/sharedComponents/core/CircleBorder/CircleBorder.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update completed
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
Due: none

TrainingZone pages
  react/delegate/src/App.tsx
  react/delegate/src/components/Button/Button.tsx
  react/delegate/src/components/CardItem/CardItem.tsx
  react/delegate/src/components/Heading/Heading.tsx
  react/delegate/src/components/Menu/SideMenu/SideMenu.tsx
  react/delegate/src/components/Overview/QuickInfo/QuickInfo.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/views/Dashboard.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/TrainingZone/TopInfo.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/delegate/src/views/TrainingZone/index.tsx
Due: none

Removed unused components
  react/delegate/.config/configstore/update-notifier-nodemon.json
  react/delegate/src/components/Overview/ActivityCard/ActivityCard.stories.tsx
  react/delegate/src/components/Overview/ActivityCard/ActivityCard.tsx
  react/delegate/src/components/Overview/ActivityCard/Graph.tsx
  react/delegate/src/components/Overview/ActivityCard/HeaderOptions.tsx
  react/delegate/src/components/Overview/ActivityCard/StatCircle.tsx
  react/delegate/src/components/Overview/ActivityCard/UserUpdate.tsx
  react/delegate/src/components/Overview/ActivityCard/index.tsx
  react/delegate/src/components/Overview/ProfileCard/ProfileCard.stories.tsx
  react/delegate/src/components/Overview/ProfileCard/ProfileCard.tsx
  react/delegate/src/components/Overview/ProfileCard/index.tsx
  react/delegate/src/components/core/Input/Checkbox/Checkbox.stories.tsx
  react/delegate/src/components/core/Input/Checkbox/Checkbox.tsx
  react/delegate/src/components/core/Input/Checkbox/index.tsx
  react/delegate/src/components/core/Input/InfoField/InfoField.stories.tsx
  react/delegate/src/components/core/Input/InfoField/InfoField.tsx
  react/delegate/src/components/core/Input/InfoField/index.tsx
  react/delegate/src/sharedComponents/Pagination/PageNumbers/PageNumbers.stories.tsx
  react/delegate/src/sharedComponents/Pagination/Paginator/Paginator.stories.tsx
  react/manager/src/components/core/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/src/sharedComponents/Pagination/PageNumbers/PageNumbers.stories.tsx
  react/manager/src/sharedComponents/Pagination/Paginator/Paginator.stories.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Updated storybook structure
  react/manager/src/components/Delegate/DelegateSlideIn/DelegateSlideIn.tsx
  react/manager/src/components/core/Input/SelectButton/SelectButton.stories.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement.stories.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/index.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentSuccess/PaymentSuccess.stories.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentSuccess/PaymentSuccess.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentSuccess/index.tsx
  react/manager/src/components/core/Modals/SideModal/SideModal.stories.tsx
  react/manager/src/components/core/Modals/SideModal/SideModal.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.stories.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/index.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/index.tsx
  react/manager/src/components/core/Modals/SideModal/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add OnlineCourses page
  react/delegate/src/App.tsx
  react/delegate/src/components/Heading/Heading.tsx
  react/delegate/src/components/PageTitle/PageTitle.tsx
  react/delegate/src/components/core/SelectButton/SelectButton.tsx
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.stories.tsx
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/delegate/src/sharedComponents/core/Card/Card.tsx
  react/delegate/src/sharedComponents/core/Dropdown/Dropdown.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/index.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.stories.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/core/Card/Card.tsx
  react/manager/src/sharedComponents/core/Dropdown/Dropdown.tsx
  react/manager/src/views/CoursesPage.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Updated storybook
  react/delegate/.config/configstore/update-notifier-nodemon.json
  react/delegate/src/sharedComponents/Pagination/PageNumbers/PageNumbers.stories.tsx
  react/delegate/src/sharedComponents/Pagination/Paginator/Paginator.stories.tsx
  react/manager/src/sharedComponents/Pagination/PageNumbers/PageNumbers.stories.tsx
  react/manager/src/sharedComponents/Pagination/Paginator/Paginator.stories.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Added missing relay files
  react/publicSite/src/App.tsx
  react/publicSite/src/__generated__/App_Query.graphql.ts
Due: none

Corrected paths, removed unused components
  react/delegate/src/components/Misc/IdentTag/IdentTag.stories.tsx
  react/delegate/src/components/Misc/IdentTag/IdentTag.tsx
  react/delegate/src/components/Misc/IdentTag/index.tsx
  react/delegate/src/components/Misc/Question/Question.stories.tsx
  react/delegate/src/components/Misc/Question/Question.tsx
  react/delegate/src/components/Misc/Question/index.tsx
  react/delegate/src/components/core/Cards/CardItem/CardItem.stories.tsx
  react/delegate/src/components/core/Table/Table.stories.tsx
  react/delegate/src/components/core/Table/Text/Text.stories.tsx
  react/delegate/src/components/core/Table/UserLabel/UserLabel.stories.tsx
  react/delegate/src/sharedComponents/core/CircleBorder/CircleBorder.stories.tsx
  react/delegate/src/sharedComponents/core/Table/CourseCompletion/CourseCompletion.stories.tsx
  react/delegate/src/sharedComponents/core/Table/ProgressBar/ProgressBar.stories.tsx
  react/manager/src/components/Delegate/CourseTable/CourseTable.tsx
  react/manager/src/components/core/Table/CourseCompletion/CourseCompletion.stories.tsx
  react/manager/src/components/core/Table/CourseCompletion/CourseCompletion.tsx
  react/manager/src/components/core/Table/CourseCompletion/index.tsx
  react/manager/src/components/core/Table/ProgressBar/ProgressBar.stories.tsx
  react/manager/src/components/core/Table/ProgressBar/ProgressBar.tsx
  react/manager/src/components/core/Table/ProgressBar/index.tsx
  react/manager/src/components/core/Table/Status/Status.stories.tsx
  react/manager/src/components/core/Table/Table.stories.tsx
  react/manager/src/sharedComponents/core/CircleBorder/CircleBorder.stories.tsx
  react/manager/src/sharedComponents/core/Table/CourseCompletion/CourseCompletion.stories.tsx
  react/manager/src/sharedComponents/core/Table/ProgressBar/ProgressBar.stories.tsx
  react/manager/src/views/DelegatesPage.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

No need to be in the table folder
  react/delegate/src/sharedComponents/core/CourseCompletion/CourseCompletion.stories.tsx
  react/delegate/src/sharedComponents/core/CourseCompletion/CourseCompletion.tsx
  react/delegate/src/sharedComponents/core/CourseCompletion/index.tsx
  react/delegate/src/sharedComponents/core/ProgressBar/ProgressBar.stories.tsx
  react/delegate/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
  react/delegate/src/sharedComponents/core/ProgressBar/index.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/core/CourseCompletion/CourseCompletion.stories.tsx
  react/manager/src/sharedComponents/core/CourseCompletion/CourseCompletion.tsx
  react/manager/src/sharedComponents/core/CourseCompletion/index.tsx
  react/manager/src/sharedComponents/core/ProgressBar/ProgressBar.stories.tsx
  react/manager/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
  react/manager/src/sharedComponents/core/ProgressBar/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Updated paths
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/components/Delegate/CourseTable/CourseTable.tsx
  react/manager/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
  react/manager/src/views/DelegatesPage.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Updated path
  react/manager/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

feat: change react-stripe-elements to @stripe/react-stripe-js @stripe/stripe-js
  react/manager/package.json
  react/manager/src/components/Button/Button.tsx
  react/manager/src/components/core/SideModal/PaymentForm/PaymentForm.stories.tsx
  react/manager/src/components/core/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/yarn.lock
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

feat: implement search modal
  react/delegate/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/delegate/src/components/Search/SearchInput/SearchInput.stories.tsx
  react/delegate/src/components/Search/SearchInput/SearchInput.tsx
  react/delegate/src/components/Search/SearchInput/index.tsx
  react/delegate/src/components/Search/SearchResultItem/SearchResultItem.stories.tsx
  react/delegate/src/components/Search/SearchResultItem/SearchResultItem.tsx
  react/delegate/src/components/Search/SearchResultItem/index.tsx
  react/delegate/src/components/Search/SearchResults/SearchResults.stories.tsx
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/components/Search/SearchResults/index.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/sharedComponents/core/CoreInput/CoreInput.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/SearchResults/SearchResults.tsx
Due: none

Convert to use cookie as auth
  api/config.yml
  api/gentypes/delegate.go
  api/gentypes/manager.go
  api/handler/auth/auth.go
  api/handler/handler.go
  api/helpers/config.go
  api/models/delegate.go
  api/models/manager.go
  api/resolvers/delegate_mutations.go
  api/resolvers/delegate_mutations_test.go
  api/resolvers/mutations.go
  api/resolvers/mutations_test.go
  api/schema/bindata.go
  api/schema/type/delegate.graphql
  api/schema/type/manager.graphql
  react/manager/src/api/environment.ts
  react/manager/src/views/Login/LoginPage.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update delegate site to use cookie
  react/delegate/src/api/environment.ts
  react/delegate/src/views/Login/LoginPage.tsx
Due: none

feat: add props to coreinput
  react/manager/src/sharedComponents/core/CoreInput/CoreInput.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Autohide search
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/views/AppHolder.tsx
Due: none

Start on CSRF checks
  api/auth/auth.go
  api/config.yml
  api/dev_env/test_config.yml
  api/errors/general.go
  api/handler/auth/auth.go
  api/helpers/config.go
  api/middleware/auth.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
Due: none

Update component link
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
Due: none

Validate CSRF token
  api/auth/auth.go
  api/handler/auth/auth.go
Due: none

Correct an import
  react/delegate/src/components/Search/SearchInput/SearchInput.tsx
Due: none

Updated docker file and shared components
  docker-compose.yml
  react/publicSite/package.json
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.stories.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/publicSite/src/sharedComponents/Pagination/PageNumbers/PageNumbers.stories.tsx
  react/publicSite/src/sharedComponents/Pagination/Paginator/Paginator.stories.tsx
  react/publicSite/src/sharedComponents/core/Cards/Card/Card.tsx
  react/publicSite/src/sharedComponents/core/CircleBorder/CircleBorder.stories.tsx
  react/publicSite/src/sharedComponents/core/CourseCompletion/CourseCompletion.stories.tsx
  react/publicSite/src/sharedComponents/core/CourseCompletion/CourseCompletion.tsx
  react/publicSite/src/sharedComponents/core/CourseCompletion/index.tsx
  react/publicSite/src/sharedComponents/core/Input/Dropdown/Dropdown.tsx
  react/publicSite/src/sharedComponents/core/ProgressBar/ProgressBar.stories.tsx
  react/publicSite/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
  react/publicSite/src/sharedComponents/core/ProgressBar/index.tsx
Due: none

Add slideins + style updates
  react/manager/public/images/user_image.png
  react/manager/src/components/Delegate/CourseTable/CourseTable.tsx
  react/manager/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/manager/src/components/PageHeader/PageHeader.tsx
  react/manager/src/components/UserSearch/MultiUserSearch/MultiUserSearch.tsx
  react/manager/src/components/UserSearch/UserSearch.tsx
  react/manager/src/components/core/Input/Checkbox/Checkbox.tsx
  react/manager/src/components/core/Input/SearchableDropdown/SearchableDropdown.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement.stories.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/MultiUser.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/index.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/SingleUser/SingleUser.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/SingleUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/SingleUser/index.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/index.tsx
  react/manager/src/views/AppHolder.tsx
  react/manager/src/views/DelegateProfilePage.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Fix conflicts + fix links
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Move models.Lesson to a separate file
  api/models/lesson.go
  api/models/module.go
Due: none

Add TestGetLessons + Update test_db
  api/helpers/testhelpers/fixtures/lesson_tags_link.yml
  api/helpers/testhelpers/fixtures/lessons.yml
  api/middleware/lesson_test.go
Due: none

Started top menu
  react/delegate/src/assets/Down_Arrow.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/delegate/src/sharedComponents/core/Input/Button/Button.tsx
  react/manager/src/assets/Down_Arrow.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/sharedComponents/core/Input/Button/Button.tsx
  react/publicSite/src/assets/Down_Arrow.svg
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.stories.tsx
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/components/Menu/HeaderMenu/index.tsx
  react/publicSite/src/components/Menu/SideMenu/SideMenu.stories.tsx
  react/publicSite/src/components/Menu/SideMenu/SideMenu.tsx
  react/publicSite/src/components/Menu/SideMenu/index.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/sharedComponents/core/Input/Button/Button.tsx
  react/publicSite/src/views/AppHolder.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Added default page header
  react/publicSite/src/components/core/PageHeader/PageHeader.stories.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
  react/publicSite/src/components/core/PageHeader/index.tsx
  react/publicSite/src/helpers/theme.tsx
Due: none

Added page header history and buttons
  react/delegate/src/assets/Right_Arrow.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/assets/Right_Arrow.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/assets/Right_Arrow.svg
  react/publicSite/src/components/core/PageHeader/PageHeader.stories.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Fix type error
  react/manager/src/views/DelegateProfilePage.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add transition
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Path conditions:
  build-admin: any of: react/admin/**/*
  build-manager-storybook: any of: react/manager/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-manager-storybook: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
