Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

test-api:
  stage: test
  image: docker/compose:latest
  before_script:
  - export DOCKER_HOST="tcp://localhost:2375"
  - docker info
  - docker-compose --version
  - apk add --no-cache git bash
  script:
  - api/dev_env/run_test.sh --cover --unique --build

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-delegate-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/storybook_build

build-delegate-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/build/

build-publicSite-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/publicSite
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/publicSite/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build/

build-api:
  stage: build
  image: golang:1.14.1-alpine
  script:
  - cd api
  - go mod download
  - go build main.go
  artifacts:
    paths:
    - api/main
    expire_in: 3d

deploy-storybooks:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read
  - cd ../delegate
  ...

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-publicSite-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: public-staging
    url: http://www.ttc.devserver.london
  variables:
    EB_ENV: react-public
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/publicSite
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Search delegates API link up
  react/manager/src/components/UserSearch/MultiUserSearch/MultiUserSearch.stories.tsx
  react/manager/src/components/UserSearch/UserResults.tsx
  react/manager/src/components/UserSearch/UserSearch.stories.tsx
  react/manager/src/components/UserSearch/UserSearch.tsx
  react/manager/src/components/UserSearch/__generated__/UserSearchDelegatesQuery.graphql.ts
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/SingleUser/Tabs.tsx
  react/manager/src/views/DelegatesPage.tsx
  react/manager/src/views/OrgOverview.tsx
  react/manager/src/views/__generated__/DelegatesPageQuery.graphql.ts
  react/manager/src/views/__generated__/OrgOverviewDelegatesQuery.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Setup SearchSyllabus hierarchy
  api/application/course/course.go
  api/application/course/course_app.go
  api/gentypes/course.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/queries.go
  api/resolvers/syllabus.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/course.graphql
Due: test-api, build-api, deploy-api-staging

Get active courses for all user types
  api/application/users/user.go
  api/application/users/users_app.go
  api/resolvers/active_course.go
  react/delegate/src/sharedComponents/CourseTable/CourseTable.stories.tsx
  react/delegate/src/sharedComponents/CourseTable/CourseTable.tsx
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/api/environment.ts
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.tsx
  react/manager/src/sharedComponents/CourseTable/CourseTable.stories.tsx
  react/manager/src/sharedComponents/CourseTable/CourseTable.tsx
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
  react/publicSite/src/sharedComponents/CourseTable/CourseTable.stories.tsx
  react/publicSite/src/sharedComponents/CourseTable/CourseTable.tsx
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-api-staging

Commits transaction after search
  api/middleware/course/course.go
Due: test-api, build-api, deploy-api-staging

Add middleware test for SearchSyllabus + Update count query
  api/middleware/course/course.go
  api/middleware/course/course_test.go
Due: test-api, build-api, deploy-api-staging

Update courses page styles
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/views/CoursesPage.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Adding api to manager payments
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/__generated__/TabsCoursesQuery.graphql.ts
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/__generated__/TabsDelegateQuery.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Update SearchSyllabus to query uuids instead
  api/application/course/course.go
  api/gentypes/course.go
  api/middleware/course/course.go
  api/middleware/course/course_test.go
  api/middleware/course/mocks/CoursesRepository.go
Due: test-api, build-api, deploy-api-staging

Resolve SearchResult according to its (lowercased) type
  api/application/course/course.go
  api/application/course/course_app.go
  api/middleware/course/course.go
  api/resolvers/queries.go
Due: test-api, build-api, deploy-api-staging

Deletes blog body image from aws
  api/application/blog.go
Due: test-api, build-api, deploy-api-staging

Remove redux structure for admin
  react/admin/src/actions/adminActions.js
  react/admin/src/actions/index.js
  react/admin/src/reducers/adminReducer.js
  react/admin/src/reducers/index.js
  react/admin/src/reducers/initialState.js
  react/admin/src/views/AdminDetails/Overview/AdminEditModal.js
  react/admin/src/views/AdminDetails/Overview/AdminInfo.js
  react/admin/src/views/AdminDetails/Overview/OtherActions.js
  react/admin/src/views/AdminDetails/Overview/index.js
  react/admin/src/views/AdminDetails/index.js
  react/admin/src/views/AdminsList/AdminCreateModal.js
  react/admin/src/views/AdminsList/Header.js
  react/admin/src/views/AdminsList/Results.js
  react/admin/src/views/AdminsList/index.js
Due: build-admin, deploy-admin-staging

Continued on the front end
  react/admin/src/routes.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/Module/Header.js
  react/admin/src/views/Module/ModulePage.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/ModulesList/Header.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Purchase courses
  api/application/users/company.go
  api/gentypes/company.go
  api/resolvers/company.go
  api/schema/bindata.go
  api/schema/type/company.graphql
  react/manager/src/api/schema.graphql
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/MultiUser.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/__generated__/MultiUser_PurchaseMutation.graphql.ts
  react/manager/src/components/core/Modals/SideModal/CourseManagement/SingleUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.stories.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.stories.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.tsx
Due: test-api, build-delegate-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-api-staging

Add more error handling
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/MultiUser.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/MultiUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/CourseManagement/SingleUser/Tabs.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.stories.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentForm/PaymentForm.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentSuccess/PaymentSuccess.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.stories.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Payment/Payment.tsx
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Fix admin errors + clean up UploadFile
  react/admin/src/components/UploadFile.js
  react/admin/src/routes.js
  react/admin/src/views/AdminDetails/Overview/AdminEditModal.js
  react/admin/src/views/AdminDetails/Overview/AdminInfo.js
  react/admin/src/views/AdminDetails/Overview/OtherActions.js
  react/admin/src/views/AdminDetails/index.js
  react/admin/src/views/AdminsList/AdminCreateModal.js
  react/admin/src/views/AdminsList/Results.js
  react/admin/src/views/AdminsList/index.js
  react/admin/src/views/Question/Overview/AnswerInput.js
  react/admin/src/views/Question/Overview/UploadFile.js
  react/admin/src/views/Question/UpdateQuestion.js
Due: build-admin, deploy-admin-staging

Tests list
  react/admin/src/routes.js
  react/admin/src/views/TestsList/Header.js
  react/admin/src/views/TestsList/Results.js
  react/admin/src/views/TestsList/index.js
Due: build-admin, deploy-admin-staging

Build compose questions page
  react/delegate/src/App.tsx
  react/delegate/src/components/Misc/Question/Question.tsx
  react/delegate/src/views/Questions/Questions.tsx
  react/delegate/src/views/Questions/index.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Start on test page
  api/schema/query.graphql
  react/admin/src/routes.js
  react/admin/src/views/Test/CreateTest.js
  react/admin/src/views/Test/Header.js
  react/admin/src/views/Test/Overview/Overview.js
  react/admin/src/views/Test/Overview/index.js
  react/admin/src/views/Test/TestBuilder/TestBuilder.js
  react/admin/src/views/Test/TestBuilder/index.js
  react/admin/src/views/Test/TestPage.js
  react/admin/src/views/Test/UpdateTest.js
  react/admin/src/views/TestsList/index.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Fix typo
  api/application/blog.go
Due: test-api, build-api, deploy-api-staging

Refactor SearchSyllabus to use CourseItem
  api/application/course/course.go
  api/application/course/course_app.go
  api/gentypes/course.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/queries.go
Due: test-api, build-api, deploy-api-staging

Update SyllabusFilter to exclude certain types
  api/gentypes/course.go
  api/middleware/course/course.go
  api/schema/query.graphql
Due: test-api, build-api, deploy-api-staging

Update middleware test for filter certain types
  api/middleware/course/course_test.go
Due: test-api, build-api, deploy-api-staging

Move most raw sql to filterSyllabus
  api/middleware/course/course.go
Due: test-api, build-api, deploy-api-staging

Add query test for searchSyllabus
  api/resolvers/queries_test.go
  api/schema/bindata.go
Due: test-api, build-api, deploy-api-staging

Fix errors
  react/admin/src/views/Test/Overview/Overview.js
  react/admin/src/views/TestsList/Results.js
  react/admin/src/views/TestsList/index.js
Due: build-admin, deploy-admin-staging

Update bindata
  api/schema/bindata.go
Due: test-api, build-api, deploy-api-staging

Add VAT on top of prices
  api/application/course/purchasing.go
Due: test-api, build-api, deploy-api-staging

Update DIND version
  .gitlab-ci.yml
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Course banner image upload
  api/application/course/course.go
  api/application/course/course_app.go
  api/gentypes/course.go
  api/resolvers/course.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/course.graphql
  react/admin/src/views/CreateCourse/Overview/CourseBannerUpload.js
  react/admin/src/views/CreateCourse/Overview/CourseFeatures.js
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/Overview/Overview.js
  react/admin/src/views/CreateCourse/Pricing/SideOptions.js
  react/admin/src/views/CreateCourse/Pricing/index.js
  react/admin/src/views/CreateCourse/index.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Show images on courses page (manager)
  react/manager/src/__generated__/App_Courses_Query.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/views/CoursesPage.tsx
  react/manager/src/views/__generated__/CoursesPage_courses.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Show banner images on delegates active courses
  react/delegate/src/__generated__/App_Courses_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/__generated__/OnlineCourses_user.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Get Categories list
  api/application/course/category.go
  api/application/course/course_app.go
  api/middleware/course/category.go
  api/middleware/course/course.go
  api/models/course.go
  api/resolvers/category.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/course.graphql
  react/delegate/src/api/environment.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Add rollbacks to update/delete lesson transactions
  api/middleware/course/lesson.go
Due: test-api, build-api, deploy-api-staging

Get Categories
  api/middleware/course/category.go
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Search categories
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/index.js
Due: build-admin, deploy-admin-staging

Change CIN type to String
  api/application/course/tutor.go
  api/gentypes/tutor.go
  api/middleware/course/tutor.go
  api/middleware/course/tutor_test.go
  api/models/tutor.go
  api/resolvers/mutations_test.go
  api/resolvers/tutor.go
  api/schema/bindata.go
  api/schema/type/tutor.graphql
Due: test-api, build-api, deploy-api-staging

Started connecting to API
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Module/ModulePage.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/ModulesList/Results.js
Due: build-admin, deploy-admin-staging

Update searchSyllabus
  api/middleware/course/course.go
  api/middleware/course/course_test.go
Due: test-api, build-api, deploy-api-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*
