Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

test-api:
  stage: test
  image: docker/compose:latest
  before_script:
  - export DOCKER_HOST="tcp://localhost:2375"
  - docker info
  - docker-compose --version
  - apk add --no-cache git bash
  script:
  - api/dev_env/run_test.sh --cover --unique --build

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-delegate-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/storybook_build

build-delegate-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/build/

build-publicSite-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/publicSite
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/publicSite/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build/

build-api:
  stage: build
  image: golang:1.14.1-alpine
  script:
  - cd api
  - go mod download
  - go build main.go
  artifacts:
    paths:
    - api/main
    expire_in: 3d

deploy-storybooks:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read
  - cd ../delegate
  ...

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-publicSite-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: public-staging
    url: http://www.ttc.devserver.london
  variables:
    EB_ENV: react-public
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/publicSite
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Get course activity
  api/application/course/course_app.go
  api/application/course/purchasing.go
  api/application/course/test.go
  api/handler/stripe.go
  api/middleware/orders.go
  react/delegate/src/__generated__/App_Courses_Query.graphql.ts
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/components/ActivityTable/ActivityTable/ActivityTable.stories.tsx
  react/delegate/src/components/ActivityTable/ActivityTable/ActivityTable.tsx
  react/delegate/src/components/ActivityTable/ActivityTable/__generated__/ActivityTable_activity.graphql.ts
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/__generated__/OnlineCourses_user.graphql.ts
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_activity.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.tsx
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-delegate-staging, deploy-api-staging

Added search on modules page
  react/admin/src/components/FilesDropzone.js
  react/admin/src/components/Filter/index.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Activity List for delegates
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/components/ActivityTable/ActivityTable/ActivityTable.tsx
  react/delegate/src/sharedComponents/CourseTable/CourseTable.tsx
  react/delegate/src/views/Test/Test.tsx
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_user.graphql.ts
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-delegate-staging

Update shared components
  react/delegate/public/index.html
  react/manager/package.json
  react/manager/src/sharedComponents/CourseTable/CourseTable.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/Pagination/PageNumbers/PageNumbers.tsx
  react/manager/src/sharedComponents/Pagination/Paginator/Pageinator.tsx
  react/manager/yarn.lock
  react/publicSite/package.json
  react/publicSite/src/assets/Mp3_Play.svg
  react/publicSite/src/sharedComponents/CourseTable/CourseTable.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/publicSite/src/sharedComponents/Pagination/PageNumbers/PageNumbers.tsx
  react/publicSite/src/sharedComponents/Pagination/Paginator/Pageinator.tsx
  react/publicSite/yarn.lock
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Fix tests
  api/middleware/orders_test.go
  api/resolvers/mutations_test.go
Due: test-api, build-api, deploy-api-staging

Improved styling
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/UpdateModule.js
Due: build-admin, deploy-admin-staging

Add banner + voiceover mutations
  api/application/course/course_app.go
  api/application/course/module.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
Due: test-api, build-api, deploy-api-staging

Add tags to modules
  api/application/course/course_app.go
  api/application/course/module.go
  api/middleware/course/course.go
  api/middleware/course/tag.go
  api/models/module.go
  api/resolvers/lesson.go
  api/resolvers/module.go
  api/resolvers/tag.go
  api/schema/bindata.go
  api/schema/type/module.graphql
Due: test-api, build-api, deploy-api-staging

Added front end
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/IndividualDetails/Header.js
  react/admin/src/views/IndividualDetails/Overview/IndividualEditModal.js
  react/admin/src/views/IndividualDetails/Overview/IndividualInfo.js
  react/admin/src/views/IndividualDetails/Overview/OtherActions.js
  react/admin/src/views/IndividualDetails/Overview/index.js
  react/admin/src/views/IndividualDetails/index.js
  react/admin/src/views/IndividualsList/Header.js
  react/admin/src/views/IndividualsList/IndividualCreateModal.js
  react/admin/src/views/IndividualsList/Results.js
  react/admin/src/views/IndividualsList/index.js
Due: build-admin, deploy-admin-staging

Add certificate type schema
  api/gentypes/certificate.go
  api/resolvers/certificate.go
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Started adding uploads
  react/admin/src/components/FilesDropzone.js
  react/admin/src/components/Filter/index.js
  react/admin/src/components/TagsInput.js
  react/admin/src/components/UploadFile.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/Module/UpdateModule.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Sort initial upload issues
  api/application/course/module.go
  react/admin/src/components/UploadFile.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/Module/Header.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Module/ModulePage.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/Module/UpdateModule.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Fix uploads
  api/application/course/module.go
  react/admin/src/views/Module/UpdateModule.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Setup CreateCertificateType hierarchy
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/certificate.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for CreateCertificateType
  api/middleware/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Fix individuals test
  api/middleware/user/individual_test.go
Due: test-api, build-api, deploy-api-staging

Setup UpdateIndividual hierarchy
  api/application/users/individual.go
  api/application/users/users_app.go
  api/gentypes/individual.go
  api/middleware/user/individual.go
  api/middleware/user/mocks/UsersRepository.go
  api/middleware/user/users_repo.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/individual.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for updateIndividual
  api/middleware/user/individual_test.go
Due: test-api, build-api, deploy-api-staging

Update authority of updateIndividual
  api/application/users/individual.go
Due: test-api, build-api, deploy-api-staging

Add mutations test for updateIndividual
  api/resolvers/mutations_test.go
Due: test-api, build-api, deploy-api-staging

Add CAANumber schema
  api/gentypes/certificate.go
  api/resolvers/certificate.go
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Setup CreateCAANumber hierarchy
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Setup certificateTypes query
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/certificate.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for CertificateTypes query
  api/helpers/testhelpers/fixtures/certificate_types.yml
  api/middleware/course/certificate.go
  api/middleware/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Setup caanumbers query
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/certificate.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Setup deleteIndividual mutation
  api/application/users/individual.go
  api/application/users/users_app.go
  api/gentypes/individual.go
  api/middleware/user/individual.go
  api/middleware/user/mocks/UsersRepository.go
  api/middleware/user/users_repo.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/individual.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for deleteIndividual
  api/middleware/user/individual_test.go
Due: test-api, build-api, deploy-api-staging

Add ErrUpdateFailed error
  api/errors/general.go
  api/middleware/user/individual.go
Due: test-api, build-api, deploy-api-staging

Added syllabus search and suggested lessons
  react/admin/src/components/SuggestedTable.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Changed autofills to dropdowns
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
Due: build-admin, deploy-admin-staging

Fixed update structure
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/Module/UpdateModule.js
Due: build-admin, deploy-admin-staging

Added colour for tags
  react/admin/src/components/SuggestedTable.js
Due: build-admin, deploy-admin-staging

Updated menu icons
  react/delegate/src/assets/CloseHamburger.svg
  react/delegate/src/assets/MenuHamburger.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/assets/CloseHamburger.svg
  react/manager/src/assets/MenuHamburger.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/.config/configstore/update-notifier-nodemon.json
  react/publicSite/src/assets/CloseHamburger.svg
  react/publicSite/src/assets/MenuHamburger.svg
  react/publicSite/src/components/Menu/HeaderMenu/MobileMenu.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Started adding upload logic
  react/admin/src/views/Lesson/AudioVideo/AudioVideo.js
  react/admin/src/views/Lesson/CreateLesson.js
  react/admin/src/views/Lesson/Overview/Overview.js
  react/admin/src/views/Lesson/UpdateLesson.js
Due: build-admin, deploy-admin-staging

Improved course builder
  react/admin/src/components/SuggestedTable.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Module/ModulePage.js
Due: build-admin, deploy-admin-staging

Working certificate fetching
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/middleware/user/course_taker.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/certificate.graphql
  api/uploads/upload.go
Due: test-api, build-api, deploy-api-staging

Adding cert info to cergenerator react
  api/schema/bindata.go
  api/schema/type/certificate.graphql
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Certificate_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/CertGenerator/CertGenerator.tsx
  react/delegate/src/views/CertGenerator/__generated__/CertGenerator_certificateInfo.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Improved syllabus search options
  react/admin/src/components/SyllabusSearch.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Removed log
  react/admin/src/components/SyllabusSearch.js
Due: build-admin, deploy-admin-staging

Add pagination API to delegatesPage
  react/manager/src/App.tsx
  react/manager/src/sharedComponents/Pagination/Paginator/Pageinator.tsx
  react/manager/src/views/DelegatesPage.tsx
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*
