Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

test-api:
  stage: test
  image: docker/compose:latest
  before_script:
  - export DOCKER_HOST="tcp://localhost:2375"
  - docker info
  - docker-compose --version
  - apk add --no-cache git bash
  script:
  - api/dev_env/run_test.sh --cover --unique --build

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-delegate-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/storybook_build

build-delegate-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/build/

build-publicSite-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/publicSite
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/publicSite/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build/

build-api:
  stage: build
  image: golang:1.14.1-alpine
  script:
  - cd api
  - go mod download
  - go build main.go
  artifacts:
    paths:
    - api/main
    expire_in: 3d

deploy-storybooks:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read
  - cd ../delegate
  ...

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-publicSite-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: public-staging
    url: http://www.ttc.devserver.london
  variables:
    EB_ENV: react-public
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/publicSite
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Fix warnings
  react/admin/src/views/Test/CreateTest.js
  react/admin/src/views/Test/UpdateTest.js
Due: build-admin, deploy-admin-staging

Update pagination in SearchResults
  react/delegate/src/components/Search/SearchResults/SearchResults.stories.tsx
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/sharedComponents/Pagination/Paginator/Pageinator.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/__generated__/AppHolderQuery.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Hook up api
  api/application/authz.go
  api/application/course/course.go
  api/application/users/user.go
  api/application/users/users_app.go
  api/resolvers/course.go
  api/resolvers/delegate.go
  api/resolvers/my_course.go
  api/resolvers/syllabus.go
  api/resolvers/test.go
  api/resolvers/user.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/users.graphql
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Course_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/ErrorBoundarys/PageBoundary.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Split up so we can test pdf generation
  api/application/course/certificate.go
Due: test-api, build-api, deploy-api-staging

Add AreInCourses with test + Update fixtures
  api/helpers/testhelpers/fixtures/course_structures.yml
  api/middleware/course/course.go
  api/middleware/course/course_test.go
Due: test-api, build-api, deploy-api-staging

Update mockery + ModulesByUUIDs
  api/application/course/module.go
  api/middleware/course/mocks/CoursesRepository.go
Due: test-api, build-api, deploy-api-staging

Update lessons + tests by uuids
  api/application/course/lesson.go
  api/application/course/test.go
Due: test-api, build-api, deploy-api-staging

Add individual type schema
  api/gentypes/individual.go
  api/schema/type/individual.graphql
Due: test-api, build-api, deploy-api-staging

Add type to course element resolvers
  api/application/course/test.go
  api/resolvers/lesson.go
  api/resolvers/module.go
  api/resolvers/syllabus.go
  api/resolvers/test.go
  api/schema/bindata.go
  api/schema/type/course.graphql
  api/schema/type/module.graphql
  api/schema/type/test.graphql
Due: test-api, build-api, deploy-api-staging

Setup Individual query
  api/application/users/individual.go
  api/application/users/users_app.go
  api/resolvers/individual.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
Due: test-api, build-api, deploy-api-staging

Setup individuals query
  api/application/users/individual.go
  api/application/users/users_app.go
  api/gentypes/individual.go
  api/middleware/user/individual.go
  api/middleware/user/mocks/UsersRepository.go
  api/middleware/user/users_repo.go
  api/resolvers/individual.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/individual.graphql
Due: test-api, build-api, deploy-api-staging

Add middleware test for Individuals
  api/middleware/user/individual.go
  api/middleware/user/individual_test.go
Due: test-api, build-api, deploy-api-staging

Get enrolledAt and hook up syllabus
  api/application/users/user.go
  api/gentypes/course.go
  api/resolvers/my_course.go
  api/schema/bindata.go
  api/schema/type/users.graphql
  react/delegate/src/__generated__/App_Course_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Started adding module page
  react/delegate/src/App.tsx
  react/delegate/src/components/Page.tsx
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/Module/Module.tsx
  react/delegate/src/views/Module/index.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Started adding test page
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Module_Query.graphql.ts
  react/delegate/src/__generated__/App_Test_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/Misc/ModuleMp3/ModuleMp3.stories.tsx
  react/delegate/src/components/Misc/ModuleMp3/ModuleMp3.tsx
  react/delegate/src/components/Overview/CourseSyllabusCard/CourseSyllabusCardFrag.tsx
  react/delegate/src/components/Overview/CourseSyllabusCard/__generated__/CourseSyllabusCardFrag_course.graphql.ts
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/delegate/src/views/Module/Module.tsx
  react/delegate/src/views/Module/__generated__/Module_module.graphql.ts
  react/delegate/src/views/Module/__generated__/Module_myActiveCourse.graphql.ts
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
  react/delegate/src/views/Questions/Questions.tsx
  react/delegate/src/views/Questions/index.tsx
  react/delegate/src/views/Test/Test.tsx
  react/delegate/src/views/Test/__generated__/Test_myActiveCourse.graphql.ts
  react/delegate/src/views/Test/__generated__/Test_test.graphql.ts
  react/delegate/src/views/Test/index.tsx
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Resolve questions
  api/application/course/course_app.go
  api/application/course/question.go
  api/application/course/test.go
  api/middleware/course/test.go
  api/resolvers/test.go
  react/delegate/src/api/schema.graphql
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Update who is allowed to view answers
  api/application/course/question.go
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Test_Query.graphql.ts
  react/delegate/src/views/Test/Test.tsx
  react/delegate/src/views/Test/__generated__/Test_test.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

create/edit/list delegates in company
  react/admin/src/views/CompaniesManagementList/Results.js
  react/admin/src/views/CompaniesManagementList/index.js
  react/admin/src/views/CompanyManagementDetails/AddUser.js
  react/admin/src/views/CompanyManagementDetails/Delegates.js
  react/admin/src/views/CompanyManagementDetails/Managers.js
  react/admin/src/views/CompanyManagementDetails/index.js
Due: build-admin, deploy-admin-staging

Update Lesson page in admin
  react/admin/src/views/Lesson/AudioVideo/AudioVideo.js
  react/admin/src/views/Lesson/AudioVideo/index.js
  react/admin/src/views/Lesson/CreateLesson.js
  react/admin/src/views/Lesson/LessonPage.js
  react/admin/src/views/Lesson/Overview/Overview.js
  react/admin/src/views/Lesson/UpdateLesson.js
Due: build-admin, deploy-admin-staging

Lessons create/update/list
  react/admin/src/routes.js
  react/admin/src/views/Lesson/CreateLesson.js
  react/admin/src/views/Lesson/Header.js
  react/admin/src/views/Lesson/LessonPage.js
  react/admin/src/views/Lesson/Overview/Overview.js
  react/admin/src/views/Lesson/Overview/index.js
  react/admin/src/views/Lesson/UpdateLesson.js
  react/admin/src/views/LessonsList/Header.js
  react/admin/src/views/LessonsList/Results.js
  react/admin/src/views/LessonsList/index.js
Due: build-admin, deploy-admin-staging

Fix warnings
  react/admin/src/views/Lesson/Overview/Overview.js
Due: build-admin, deploy-admin-staging

Started adding submit test answers
  react/delegate/src/App.tsx
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/Misc/Question/Question.stories.tsx
  react/delegate/src/components/Misc/Question/Question.tsx
  react/delegate/src/views/Test/Test.tsx
  react/delegate/src/views/Test/__generated__/Test_SubmitAnswersMutation.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Create delegates page in admin
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/DelegatesList/DelegateCreateModal.js
  react/admin/src/views/DelegatesList/Header.js
  react/admin/src/views/DelegatesList/Results.js
  react/admin/src/views/DelegatesList/index.js
Due: build-admin, deploy-admin-staging

Submit test
  react/delegate/src/views/Test/Test.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Get if passed
  react/delegate/src/views/Test/Test.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Get course syllabus properly
  api/application/course/module.go
  api/application/course/question.go
  api/application/course/test.go
  api/application/users/user.go
  api/gentypes/course.go
  api/resolvers/my_course.go
  api/schema/bindata.go
  api/schema/type/users.graphql
  react/delegate/src/__generated__/App_Course_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/Overview/CourseSyllabusCard/CourseSyllabusCardFrag.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Update module page
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Course_Query.graphql.ts
  react/delegate/src/__generated__/App_Module_Query.graphql.ts
  react/delegate/src/views/Module/Module.tsx
  react/delegate/src/views/Module/__generated__/Module_module.graphql.ts
  react/delegate/src/views/Module/__generated__/Module_myActiveCourse.graphql.ts
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Link up test pages
  api/middleware/course/test.go
  api/middleware/user/course_taker.go
  api/models/course_taker.go
  api/resolvers/question.go
  react/delegate/src/__generated__/App_Course_Query.graphql.ts
  react/delegate/src/__generated__/App_Module_Query.graphql.ts
  react/delegate/src/__generated__/App_Test_Query.graphql.ts
  react/delegate/src/views/Module/Module.tsx
  react/delegate/src/views/Module/__generated__/Module_myActiveCourse.graphql.ts
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
  react/delegate/src/views/Test/Test.tsx
  react/delegate/src/views/Test/__generated__/Test_myActiveCourse.graphql.ts
  react/delegate/src/views/helpers.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Module can now be updated
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/components/ReorderableList/ReorderableListItem.js
  react/admin/src/components/SuggestedTable.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Module/UpdateModule.js
Due: build-admin, deploy-admin-staging

Remove old active course once complete
  api/application/course/test.go
  api/middleware/user/course_taker.go
  api/models/course_taker.go
  api/schema/bindata.go
  api/schema/type/users.graphql
Due: test-api, build-api, deploy-api-staging

Update AreInCourses to count courseElements inside course's modules
  api/helpers/testhelpers/fixtures/module_structures.yml
  api/middleware/course/course.go
  api/middleware/course/course_test.go
Due: test-api, build-api, deploy-api-staging

Cert tests
  api/Dockerfile.dev
  api/Dockerfile.test
  api/application/course/certificate.go
  api/application/course/certificate_test.go
Due: test-api, build-api, deploy-api-staging

Show images are required res
  react/delegate/package.json
  react/delegate/src/api/schema.graphql
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/__generated__/OnlineCourses_user.graphql.ts
  react/delegate/src/views/Test/__generated__/Test_SubmitAnswersMutation.graphql.ts
  react/delegate/yarn.lock
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Update company info list
  react/admin/src/views/CompaniesManagementList/index.js
Due: build-admin, deploy-admin-staging

Use fetched company data
  react/admin/src/views/CompanyManagementDetails/Header.js
  react/admin/src/views/CompanyManagementDetails/Managers.js
  react/admin/src/views/CompanyManagementDetails/index.js
Due: build-admin, deploy-admin-staging

Reset paginator state on range update
  react/delegate/src/sharedComponents/Pagination/PageNumbers/PageNumbers.tsx
  react/delegate/src/sharedComponents/Pagination/Paginator/Pageinator.tsx
  react/delegate/src/views/AppHolder.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

List/Create/Update delegate in admin
  react/admin/src/routes.js
  react/admin/src/views/DelegateDetails/Header.js
  react/admin/src/views/DelegateDetails/Overview/DelegateEditModal.js
  react/admin/src/views/DelegateDetails/Overview/DelegateInfo.js
  react/admin/src/views/DelegateDetails/Overview/OtherActions.js
  react/admin/src/views/DelegateDetails/Overview/index.js
  react/admin/src/views/DelegateDetails/index.js
  react/admin/src/views/DelegatesList/Results.js
  react/admin/src/views/DelegatesList/index.js
Due: build-admin, deploy-admin-staging

Add category colors
  react/delegate/src/__generated__/App_Courses_Query.graphql.ts
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/__generated__/OnlineCourses_user.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Fix lesson description disable issue on edit page
  react/admin/src/views/Lesson/Overview/Overview.js
  react/admin/src/views/LessonsList/Results.js
  react/admin/src/views/LessonsList/index.js
Due: build-admin, deploy-admin-staging

Fetch activity
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_activity.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*
