Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python3.8-slim-buster
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  variables:
    EB_ENV: react-admin
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/admin
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Use right image...
  .gitlab-ci.yml
Due: none

Allow gitlab changes to force pipeline
  .gitlab-ci.yml
Due: none

Tweak
  .gitlab-ci.yml
Due: none

Login components styles
  .gitlab-ci.yml
  react/admin/bin/deploy.sh
  react/manager/src/components/LoginDialoge/FancyButton.tsx
  react/manager/src/components/LoginDialoge/FancyInput/FancyInput.tsx
  react/manager/src/components/LoginDialoge/LoginDialoge.tsx
  react/manager/src/components/core/Card/Card.stories.tsx
  react/manager/src/components/core/CoreInput/CoreInput.tsx
  react/manager/src/helpers/theme.tsx
Due: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

Remove unused vars
  react/manager/src/components/core/Card/Card.stories.tsx
  react/manager/src/components/core/Card/Card.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

DOCKER EVERYTHING
  api/Dockerfile.dev
  api/database/config.yml
  api/database/database.go
  api/dev_env/postgres.Dockerfile
  api/go.mod
  api/go.sum
  docker-compose.yml
  readme.md
Due: none

Readme updates
  api/schema.graphql
  readme.md
Due: none

API refactor
  api/auth/auth.go
  api/config.yml
  api/database/config.yml
  api/database/database.go
  api/dev_env/init.sql
  api/dev_env/postgres.Dockerfile
  api/go.sum
  api/helpers/auth.go
  api/helpers/config.go
  api/main.go
  api/middleware/admin.go
  api/models/admin.go
  api/models/base.go
  api/models/delegate.go
  api/models/manager.go
  api/models/user.go
  api/resolvers/mutations.go
  api/schema.graphql
  readme.md
Due: none

Add test coverage
  .gitlab-ci.yml
  api/auth/auth.go
  api/auth/auth_test.go
  api/database/database.go
  api/database/migration/migration.go
  api/helpers/auth.go
  api/main.go
  api/middleware/admin.go
  api/models/admin.go
  api/models/delegate.go
  api/models/user.go
Due: none

Create a dev admin user
  .gitlab-ci.yml
  api/config.yml
  api/helpers/config.go
  api/main.go
  api/models/admin.go
Due: none

Create default admin + logging
  api/go.mod
  api/go.sum
  api/main.go
  readme.md
Due: none

Logging updates
  api/main.go
  readme.md
Due: none

Add login endpoint
  api/Dockerfile.dev
  api/dev_env/entrypoint.sh
  api/go.mod
  api/go.sum
  api/main.go
  api/middleware/admin.go
  api/middleware/errors.go
  api/models/admin.go
  api/resolvers/mutations.go
  api/resolvers/queries.go
  api/resolvers/root.go
  api/schema.graphql
  api/schema/bindata.go
  api/schema/input/admin_login.graphql
  api/schema/mutation.graphql
  api/schema/query.graphql
  api/schema/schema.go
  api/schema/schema.graphql
  api/schema/type/admin.graphql
  api/schema/type/auth.graphql
  api/schema/type/errors.graphql
  readme.md
Due: none

Add extension for simple error
  api/middleware/errors.go
Due: none

Add graphQL resolvers for admins
  api/auth/auth.go
  api/auth/auth_test.go
  api/auth/permissions.go
  api/config.yml
  api/gentypes/admin.go
  api/gentypes/pagination.go
  api/helpers/config.go
  api/main.go
  api/middleware/admin.go
  api/middleware/helpers.go
  api/models/admin.go
  api/models/delegate.go
  api/resolvers/adminresolver/mutations.go
  api/resolvers/adminresolver/queries.go
  api/resolvers/adminresolver/resolver.go
  api/resolvers/adminresolver/root.go
  api/resolvers/mutations.go
  api/resolvers/queries.go
  api/resolvers/root.go
  api/schema/bindata.go
  api/schema/input/admin_login.graphql
  api/schema/query.graphql
  api/schema/type/admin.graphql
  api/schema/type/errors.graphql
Due: none

Take config as param to satisfy tests
  api/auth/auth_test.go
  api/helpers/config.go
  api/main.go
Due: none

Create a Theme type
  react/manager/src/components/LoginDialoge/FancyInput/FancyInput.tsx
  react/manager/src/components/LoginDialoge/LoginDialoge.tsx
  react/manager/src/components/core/Card/Card.tsx
  react/manager/src/helpers/colors.ts
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Implement first dataloader
  api/database/database.go
  api/gentypes/auth.go
  api/gentypes/manager.go
  api/gentypes/user.go
  api/go.mod
  api/go.sum
  api/loader/admin.go
  api/loader/loaders.go
  api/main.go
  api/middleware/admin.go
  api/middleware/auth.go
  api/middleware/manager.go
  api/models/admin.go
  api/models/delegate.go
  api/models/manager.go
  api/models/user.go
  api/resolvers/adminresolver/mutations.go
  api/resolvers/adminresolver/queries.go
  api/resolvers/adminresolver/root.go
  api/resolvers/managerresolver/mutations.go
  api/resolvers/managerresolver/queries.go
  api/resolvers/managerresolver/resolver.go
  api/resolvers/managerresolver/root.go
  api/resolvers/root.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/query.graphql
  api/schema/type/users.graphql
  readme.md
Due: none

Generalise errors + middleware auth
  api/errors/errors.go
  api/errors/general.go
  api/gentypes/admin.go
  api/gentypes/gentypes.go
  api/loader/admin.go
  api/loader/loaders.go
  api/middleware/admin.go
  api/middleware/auth.go
  api/middleware/middleware.go
  api/resolvers/adminresolver/queries.go
Due: none

Admin pagination
  api/gentypes/pagination.go
  api/middleware/admin.go
  api/middleware/middleware.go
  api/resolvers/adminresolver/queries.go
Due: none

Create manager endpoint + use dataloader
  api/gentypes/manager.go
  api/gentypes/user.go
  api/loader/loaders.go
  api/loader/manager.go
  api/middleware/admin.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/resolvers/managerresolver/mutations.go
  api/resolvers/managerresolver/resolver.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/users.graphql
Due: none

Put all querys and mutations in same place
  api/resolvers/admin.go
  api/resolvers/adminresolver/mutations.go
  api/resolvers/adminresolver/queries.go
  api/resolvers/adminresolver/root.go
  api/resolvers/manager.go
  api/resolvers/managerresolver/mutations.go
  api/resolvers/managerresolver/queries.go
  api/resolvers/managerresolver/root.go
  api/resolvers/mutations.go
  api/resolvers/queries.go
  api/resolvers/root.go
Due: none

Get manager + use loaders for it
  api/loader/admin.go
  api/loader/loaders.go
  api/loader/manager.go
  api/middleware/manager.go
  api/resolvers/admin.go
  api/resolvers/manager.go
  api/resolvers/pagination.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
Due: none

More efficient loader sorting
  api/errors/general.go
  api/loader/manager.go
  api/loader/manager_test.go
  api/main.go
  api/middleware/manager.go
  api/schema/bindata.go
  api/schema/query.graphql
Due: none

Filter managers
  api/gentypes/manager.go
  api/go.mod
  api/go.sum
  api/middleware/admin.go
  api/middleware/manager.go
  api/resolvers/manager.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/company.graphql
  api/schema/type/users.graphql
  react/manager/bin/run_dev.sh
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Set a default max page limit
  api/middleware/middleware.go
Due: none

Standardise paging
  api/gentypes/manager.go
  api/gentypes/pagination.go
  api/middleware/admin.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/resolvers/mutations.go
  api/resolvers/pagination.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
Due: none

added button component
  api/schema/bindata.go
  react/manager/bin/run_dev.sh
  react/manager/src/components/core/Button/Button.stories.tsx
  react/manager/src/components/core/Button/Button.tsx
  react/manager/src/components/core/Button/index.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Get companies and managers using dataloader
  api/auth/auth.go
  api/database/migration/migration.go
  api/errors/general.go
  api/errors/resolver.go
  api/gentypes/admin.go
  api/gentypes/company.go
  api/gentypes/manager.go
  api/gentypes/user.go
  api/loader/company.go
  api/loader/loaders.go
  api/loader/manager.go
  api/middleware/admin.go
  api/middleware/company.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/models/company.go
  api/models/manager.go
  api/models/user.go
  api/resolvers/company.go
  api/resolvers/manager.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/type/company.graphql
  api/schema/type/users.graphql
Due: none

changed storybook name
  react/manager/src/components/core/Button/Button.stories.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

added small prop and focus states
  react/manager/src/components/core/Button/Button.stories.tsx
  react/manager/src/components/core/Button/Button.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

changed focus state
  react/manager/src/components/core/Button/Button.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

More efficient company + manager querys
  api/gentypes/company.go
  api/loader/company.go
  api/loader/loaders.go
  api/loader/manager.go
  api/middleware/company.go
  api/resolvers/company.go
  api/resolvers/manager.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/company.graphql
Due: none

Feature/profile card
  react/manager/src/components/Overview/ProfileCard/ProfileCard.stories.tsx
  react/manager/src/components/Overview/ProfileCard/ProfileCard.tsx
  react/manager/src/components/Overview/ProfileCard/index.tsx
  react/manager/src/components/core/Button/Button.tsx
  react/manager/src/components/core/InfoField/InfoField.stories.tsx
  react/manager/src/components/core/InfoField/InfoField.tsx
  react/manager/src/components/core/InfoField/index.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

added icons to button
  react/manager/src/assets/AddDelegateRepeater.svg
  react/manager/src/assets/ArrowLeft.svg
  react/manager/src/assets/ArrowRight.svg
  react/manager/src/assets/Card_SecondaryActon_Dots.svg
  react/manager/src/assets/CloseCourseManagementTray_X.svg
  react/manager/src/assets/CourseAccountActivated.svg
  react/manager/src/assets/CourseCertificates.svg
  react/manager/src/assets/CourseExpiringSoon.svg
  react/manager/src/assets/CourseFailed.svg
  react/manager/src/assets/CourseNewCourse.svg
  react/manager/src/assets/CourseStatus_Completed.svg
  react/manager/src/assets/CourseStatus_Incomplete.svg
  react/manager/src/assets/CourseStatus_NotStarted.svg
  react/manager/src/assets/CourseTimeTracked.svg
  react/manager/src/assets/Course_Calendar.svg
  react/manager/src/assets/DownloadCSV.svg
  react/manager/src/assets/EditDelegateProfilePic_Default.png
  react/manager/src/assets/EditPicPencil.svg
  react/manager/src/assets/FilterAdjust.svg
  react/manager/src/assets/FormCheckbox_Checked.svg
  react/manager/src/assets/FormCheckbox_Unchecked.svg
  react/manager/src/assets/FormCheckbox_states.png
  react/manager/src/assets/LeftNav_Icon_Courses.svg
  react/manager/src/assets/LeftNav_Icon_Dashboard.svg
  react/manager/src/assets/LeftNav_Icon_Delegates.svg
  react/manager/src/assets/Loading_Screen_Donut.svg
  react/manager/src/assets/Location_Pin.svg
  react/manager/src/assets/PDF_Icon.svg
  react/manager/src/assets/RemoveSelectedCourse_X.svg
  react/manager/src/assets/SampleImage_ClassroomCoursesDetail_Feat.png
  react/manager/src/assets/SearchGlass.svg
  react/manager/src/assets/filenames.txt
  react/manager/src/components/core/Button/Button.stories.tsx
  react/manager/src/components/core/Button/Button.tsx
  react/manager/src/components/core/Card/Card.tsx
  react/manager/src/components/core/Icon/Icon.stories.tsx
  react/manager/src/components/core/Icon/Icon.tsx
  react/manager/src/components/core/Icon/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Small style adjustments
  react/manager/src/components/core/Button/Button.tsx
  react/manager/src/components/core/Icon/Icon.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add get company + start sorting
  api/middleware/admin.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
Due: none

Fix dockerfile
  react/manager/Dockerfile
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Sorting structures + don't let managers see other managers details
  api/gentypes/company.go
  api/loader/manager.go
  api/middleware/company.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/resolvers/company.go
  api/resolvers/manager.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/company.graphql
Due: none

More ordering + Adding createdAt to schema types
  api/gentypes/user.go
  api/middleware/company.go
  api/middleware/manager.go
  api/middleware/middleware.go
  api/resolvers/company.go
  api/resolvers/manager.go
  api/schema/bindata.go
  api/schema/type/company.graphql
  api/schema/type/users.graphql
Due: none

Path conditions:
  build-admin: any of: react/admin/**/*
  build-manager-storybook: any of: react/manager/**/*
  build-manager-webpack: any of: react/manager/**/*
  deploy-manager-storybook: any of: react/manager/**/*
  deploy-manager-staging: any of: react/manager/**/*
  deploy-admin-staging: any of: react/admin/**/*
