Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*

Update onUpdatePage
  react/manager/src/components/Delegate/ActivityTable/ActivityTable.tsx
  react/manager/src/views/DelegateProfilePage.tsx
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Added pagination to most pages
  react/admin/src/components/SearchBar/Search.js
  react/admin/src/views/AdminsList/Results.js
  react/admin/src/views/AdminsList/index.js
  react/admin/src/views/CertificateType/Overview/Overview.js
  react/admin/src/views/CertificateTypesList/Results.js
  react/admin/src/views/CertificateTypesList/index.js
  react/admin/src/views/QuestionsList/Results.js
  react/admin/src/views/QuestionsList/index.js
  react/admin/src/views/TestsList/Results.js
  react/admin/src/views/TestsList/index.js
  react/admin/src/views/TutorsList/Results.js
  react/admin/src/views/TutorsList/index.js
Due: build-admin, deploy-admin-staging

Add media fields to Lesson schema
  api/gentypes/lesson.go
  api/models/lesson.go
  api/resolvers/lesson.go
  api/schema/bindata.go
  api/schema/type/course.graphql
  api/schema/type/lesson.graphql
Due: test-api, build-api, deploy-api-staging

Refactor lesson.text to lesson.description
  api/application/course/lesson.go
  api/gentypes/lesson.go
  api/helpers/testhelpers/fixtures/lessons.yml
  api/middleware/course/lesson.go
  api/middleware/course/lesson_test.go
  api/models/lesson.go
  api/resolvers/lesson.go
  api/resolvers/mutations_test.go
  api/resolvers/queries_test.go
  api/schema/bindata.go
  api/schema/type/lesson.graphql
Due: test-api, build-api, deploy-api-staging

Added pagination to companies and modules
  react/admin/src/components/Results.js
  react/admin/src/views/CompaniesManagementList/Results.js
  react/admin/src/views/CompaniesManagementList/index.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Removed loading screen
  react/admin/src/views/CompaniesManagementList/index.js
Due: build-admin, deploy-admin-staging

Show certificateType on course
  api/application/course/course.go
  api/database/migration/migration.go
  api/gentypes/course.go
  api/middleware/course/classroom_course.go
  api/middleware/course/course.go
  api/middleware/course/online_course.go
  api/resolvers/course.go
  api/schema/bindata.go
  api/schema/type/course.graphql
  react/admin/src/views/CreateCourse/Pricing/index.js
  react/admin/src/views/CreateCourse/index.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Add specific terms
  react/admin/src/views/CreateCourse/Pricing/index.js
  react/admin/src/views/CreateCourse/index.js
Due: build-admin, deploy-admin-staging

Update createLesson to accomodate for media fields
  api/application/course/course_app.go
  api/application/course/lesson.go
  api/gentypes/lesson.go
  api/middleware/course/lesson.go
  api/models/lesson.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/lesson.graphql
Due: test-api, build-api, deploy-api-staging

Refactor middleware createLesson input
  api/application/course/lesson.go
  api/middleware/course/course.go
  api/middleware/course/lesson.go
  api/middleware/course/lesson_test.go
  api/middleware/course/mocks/CoursesRepository.go
Due: test-api, build-api, deploy-api-staging

Update createLesson middleware test
  api/middleware/course/lesson_test.go
Due: test-api, build-api, deploy-api-staging

Update updateLesson to accomodate media fields
  api/application/course/lesson.go
  api/gentypes/lesson.go
  api/middleware/course/course.go
  api/middleware/course/lesson.go
  api/middleware/course/lesson_test.go
  api/middleware/course/mocks/CoursesRepository.go
  api/schema/type/lesson.graphql
Due: test-api, build-api, deploy-api-staging

Update updateLesson middleware test
  api/middleware/course/lesson_test.go
Due: test-api, build-api, deploy-api-staging

Deletes lesson media from s3
  api/application/course/lesson.go
Due: test-api, build-api, deploy-api-staging

Add missing tags field
  api/application/course/lesson.go
Due: test-api, build-api, deploy-api-staging

Fix warnings
  react/admin/src/views/CertificateType/Overview/Overview.js
Due: build-admin, deploy-admin-staging

List unapproved companies + allow approval
  api/middleware/user/company.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/CompanyManagementDetails/Summary/index.js
  react/admin/src/views/CompanyManagementDetails/index.js
  react/admin/src/views/UnapprovedCompanies/Header.js
  react/admin/src/views/UnapprovedCompanies/Results.js
  react/admin/src/views/UnapprovedCompanies/index.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Hide details on unapproved company
  react/admin/src/views/CompanyManagementDetails/Summary/index.js
  react/admin/src/views/CompanyManagementDetails/index.js
  react/admin/src/views/UnapprovedCompanies/Header.js
Due: build-admin, deploy-admin-staging

Fix navconfig redirecting to wrong page
  react/admin/src/layouts/Dashboard/navConfig.js
Due: build-admin, deploy-admin-staging

Add more data to cert-generator
  api/application/course/certificate.go
  api/gentypes/certificate.go
  api/schema/bindata.go
  api/schema/type/certificate.graphql
  react/delegate/src/__generated__/App_Certificate_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/Certificate/CertInfo/CertInfo.tsx
  react/delegate/src/views/CertGenerator/CertGenerator.tsx
  react/delegate/src/views/CertGenerator/__generated__/CertGenerator_certificateInfo.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Merge fixes
  api/application/course/course_app.go
  api/schema/bindata.go
Due: test-api, build-api, deploy-api-staging

Can now swap items between lists
  react/admin/src/components/ReorderableList/ReorderableDropdown.js
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Update public site for 8th Aug designs
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/components/Overview/Homepage/Homepage.tsx
  react/publicSite/src/components/core/Curve/PeopleCurve.tsx
  react/publicSite/src/views/AppHolder.tsx
  react/publicSite/src/views/Home.tsx
Due: build-publicSite-webpack, deploy-publicSite-staging

Register company add address
  react/admin/src/views/UnapprovedCompanies/index.js
  react/delegate/src/sharedComponents/core/Input/Button/Button.tsx
  react/manager/src/sharedComponents/core/Input/Button/Button.tsx
  react/publicSite/src/components/Overview/Registration/RegisterCompany.stories.tsx
  react/publicSite/src/components/Overview/Registration/RegisterCompanyPart2.tsx
  react/publicSite/src/components/Overview/Registration/RegisterCompanySuccess.tsx
  react/publicSite/src/sharedComponents/core/Input/Button/Button.tsx
  react/publicSite/src/views/RegisterCompany.tsx
Due: build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging

Only show approved companies
  react/admin/src/views/CompaniesManagementList/index.js
Due: build-admin, deploy-admin-staging

Can now swap anything, anywhere
  react/admin/src/components/ReorderableList/ReorderableDropdown.js
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
Due: build-admin, deploy-admin-staging

Add tutor query
  api/application/course/course_app.go
  api/application/course/tutor.go
  api/resolvers/queries.go
  api/resolvers/tutor.go
  api/schema/bindata.go
  api/schema/query.graphql
Due: test-api, build-api, deploy-api-staging

Setup tutors query
  api/application/course/course_app.go
  api/application/course/tutor.go
  api/gentypes/tutor.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/middleware/course/tutor.go
  api/resolvers/queries.go
  api/resolvers/tutor.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/tutor.graphql
Due: test-api, build-api, deploy-api-staging

Add tutors middleware test
  api/helpers/testhelpers/fixtures/tutors.yml
  api/middleware/course/tutor_test.go
Due: test-api, build-api, deploy-api-staging

Add pagination to CoursesPage + Fix edges mapping
  react/manager/src/App.tsx
  react/manager/src/views/CoursesPage.tsx
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Allow companies to sign up
  api/application/users/company.go
  api/gentypes/company.go
  api/middleware/user/company.go
  api/models/company.go
  api/resolvers/company.go
  api/schema/bindata.go
  api/schema/type/company.graphql
  react/admin/src/components/ErrorModal.js
  react/admin/src/views/CompaniesManagementList/index.js
  react/admin/src/views/CompanyManagementDetails/Summary/CompanyEditModal.js
  react/admin/src/views/CompanyManagementDetails/Summary/CompanyInfo.js
  react/admin/src/views/CompanyManagementDetails/Summary/CustomerEditModal.js
  react/admin/src/views/CompanyManagementDetails/Summary/SendEmails.js
  react/admin/src/views/CompanyManagementDetails/Summary/index.js
  react/admin/src/views/CompanyManagementDetails/index.js
  react/publicSite/src/views/RegisterCompany.tsx
Due: test-api, build-admin, build-publicSite-webpack, build-api, deploy-publicSite-staging, deploy-admin-staging, deploy-api-staging

Update tests
  api/middleware/user/company_test.go
  api/resolvers/mutations_test.go
Due: test-api, build-api, deploy-api-staging

Company admin updates
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/views/CompanyManagementDetails/AddUser.js
  react/admin/src/views/CompanyManagementDetails/Delegates.js
  react/admin/src/views/CompanyManagementDetails/Managers.js
  react/admin/src/views/CompanyManagementDetails/Summary/SendEmails.js
  react/admin/src/views/CompanyManagementDetails/Summary/index.js
  react/admin/src/views/CompanyManagementDetails/index.js
  react/admin/src/views/DelegateDetails/Overview/DelegateEditModal.js
  react/admin/src/views/DelegateDetails/Overview/DelegateInfo.js
  react/admin/src/views/DelegateDetails/index.js
Due: build-admin, deploy-admin-staging

Fix admin warnings
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/views/CompaniesManagementList/index.js
  react/admin/src/views/CompanyManagementDetails/AddUser.js
  react/admin/src/views/CompanyManagementDetails/Delegates.js
  react/admin/src/views/CompanyManagementDetails/Summary/CompanyEditModal.js
  react/admin/src/views/CompanyManagementDetails/Summary/index.js
  react/admin/src/views/DelegateDetails/Overview/DelegateEditModal.js
  react/admin/src/views/DelegateDetails/Overview/DelegateInfo.js
  react/admin/src/views/TutorsList/index.js
Due: build-admin, deploy-admin-staging

Style fixes
  react/admin/src/views/ModulesList/index.js
  react/admin/src/views/TestsList/index.js
Due: build-admin, deploy-admin-staging

Finished course builder and updated module builder
  react/admin/src/components/ReorderableList/ReorderableDropdown.js
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Fixed delete
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
Due: build-admin, deploy-admin-staging

Fixed create issues
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Test/CreateTest.js
  react/admin/src/views/Test/Overview/Overview.js
Due: build-admin, deploy-admin-staging

Fixed error
  react/admin/src/views/Question/Overview/Overview.js
Due: build-admin, deploy-admin-staging

Removed course module item delete
  react/admin/src/components/ReorderableList/ReorderableListItem.js
  react/admin/src/components/SuggestedTable.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
Due: build-admin, deploy-admin-staging
