Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

.gitlab-ci.yml:

stages:
  - test
  - build
  - deploy-staging

variables:
  MANAGER_IMAGE_TAG: $CI_REGISTRY_IMAGE:manager
  ADMIN_IMAGE_TAG: $CI_REGISTRY_IMAGE:admin

test-api:
  stage: test
  image: golang:latest
  script:
    - cd api
    - go test ./...

test-api-coverage:
  stage: test
  image: golang:latest
  script:
    - cd api
    - go test ./... -cover

build-admin:
  stage: build
  image: node:10.16.2
  script:
    - cd ./react/admin
    - yarn
    - yarn run build
  cache:
    paths:
      - node_modules/
  only:
    changes:
      - react/admin/**/*
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run storybook-build
  cache:
    paths:
      - node_modules/
  only:
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run build
  only:
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - node_modules/
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python:3.8-slim-buster
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - node_modules/
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  variables:
    EB_ENV: 'react-manager'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/admin/**/*
  variables:
    EB_ENV: 'react-admin'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/admin
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

Build cert generator page
  react/delegate/src/assets/large-1200px-Department_for_Transport.svg.png
  react/delegate/src/views/CertGenerator/CertGenerator.tsx
Due: none

fix: FAQ Dropdowns
  react/delegate/src/assets/Arrow_Right_Blue.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/assets/Arrow_Right_Blue.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/assets/Arrow_Right_Blue.svg
  react/publicSite/src/components/Misc/ExpandableListView/ExpandItemView.tsx
  react/publicSite/src/components/Misc/ExpandableListView/ExpandableListView.tsx
  react/publicSite/src/helpers/theme.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update layout style according to A4
  react/delegate/package.json
  react/delegate/src/components/Certificate/CertInfo/CertInfo.tsx
  react/delegate/src/components/Certificate/FancyBorder/FancyBorder.stories.tsx
  react/delegate/src/components/Certificate/FancyBorder/FancyBorder.tsx
  react/delegate/src/components/Certificate/Signature/Signature.stories.tsx
  react/delegate/src/components/Certificate/Signature/Signature.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/views/CertGenerator/CertGenerator.tsx
  react/delegate/yarn.lock
Due: none

fix: expandable list view component fontsize config
  react/publicSite/src/components/Misc/ExpandableListView/ExpandItemView.tsx
Due: none

Public/menu dropdowns
  react/publicSite/src/components/Menu/HeaderMenu/CheckoutPopup.tsx
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.stories.tsx
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/components/Menu/HeaderMenu/MobileMenu.tsx
  react/publicSite/src/components/Menu/HeaderMenu/TabOption.tsx
  react/publicSite/src/components/Menu/HeaderMenu/index.tsx
  react/publicSite/src/views/AppHolder.tsx
Due: none

Add upload question images to Admin
  api/Dockerfile.dev
  api/application/course/course_app.go
  api/application/course/question.go
  api/gentypes/question.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/question.graphql
  react/admin/package.json
  react/admin/src/App.js
  react/admin/src/components/ErrorModal.js
  react/admin/src/components/TagsInput.js
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/ModulesList/Header.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/ModulesList/index.js
  react/admin/src/views/Question/CreateQuestion.js
  react/admin/src/views/Question/Header.js
  react/admin/src/views/Question/Overview/AnswerInput.js
  react/admin/src/views/Question/Overview/Overview.js
  react/admin/src/views/Question/Overview/QuestionType.js
  react/admin/src/views/Question/Overview/index.js
  react/admin/src/views/Question/QuestionPage.js
  react/admin/src/views/Question/UpdateQuestion.js
  react/admin/src/views/QuestionsList/Header.js
  react/admin/src/views/QuestionsList/Results.js
  react/admin/src/views/QuestionsList/index.js
  react/admin/yarn.lock
Due: build-admin, deploy-admin-staging

Delete answer
  api/application/course/question.go
  api/middleware/course/question.go
  api/middleware/course/question_test.go
  react/admin/src/views/Question/Overview/AnswerInput.js
  react/admin/src/views/Question/Overview/Overview.js
  react/admin/src/views/Question/Overview/UploadFile.js
Due: build-admin, deploy-admin-staging

Added transition + code formatting
  react/publicSite/src/components/Overview/Article/ArticleCard/ArticleCard.tsx
  react/publicSite/src/components/Overview/Article/GenreHeader/GenreHeader.tsx
Due: none

Small style adjustments
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/components/Menu/HeaderMenu/TabOption.tsx
  react/publicSite/src/components/Overview/ContactPage/ContactPage.tsx
Due: none

Fix background hider issues
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/components/Overview/Article/GenreHeader/GenreHeader.tsx
Due: none

Formatting
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/views/AppHolder.tsx
Due: none

Public Site CI
  .gitlab-ci.yml
  react/publicSite/bin/deploy.sh
  react/publicSite/src/views/AppHolder.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Corrected for mobile view
  react/publicSite/src/App.tsx
  react/publicSite/src/components/Misc/CarouselCourse/CarouselWithDemo.tsx
  react/publicSite/src/components/Misc/TickBullet/TickBullet.tsx
  react/publicSite/src/components/Overview/Article/ArticleHeader/ArticleHeader.tsx
  react/publicSite/src/components/Overview/Article/GenreHeader/GenreHeader.tsx
  react/publicSite/src/components/Overview/PaymentPage/BillingCard/BillingCard.tsx
  react/publicSite/src/components/Overview/PaymentPage/PaymentHeader/PaymentHeader.tsx
  react/publicSite/src/components/core/PageHeader/CoursePageHeader.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
  react/publicSite/src/views/PaymentPage.tsx
  react/publicSite/src/views/PrivacyPolicy.tsx
Due: none

Added FAQs to course page
  react/publicSite/src/components/Misc/ExpandableListView/ExpandItemView.tsx
  react/publicSite/src/components/Misc/ExpandableListView/ExpandableListView.stories.tsx
  react/publicSite/src/components/Misc/ExpandableListView/ExpandableListView.tsx
  react/publicSite/src/components/Misc/ExpandableListView/index.tsx
  react/publicSite/src/components/Misc/ExpandableListView/types.ts
  react/publicSite/src/views/Courses.tsx
Due: none

Fixed carousel sizes
  react/publicSite/src/components/Misc/CarouselCourse/CarouselCourse.tsx
  react/publicSite/src/components/Overview/Registration/RegistrationCarousel.tsx
Due: none

Public/course page
  react/publicSite/src/App.tsx
  react/publicSite/src/components/Misc/CarouselCourse/CarouselCourse.stories.tsx
  react/publicSite/src/components/Misc/CarouselCourse/CarouselWithDemo.tsx
  react/publicSite/src/components/Misc/TickBullet/TickBullet.tsx
  react/publicSite/src/components/Overview/Article/ArticleHeader/ArticleHeader.tsx
  react/publicSite/src/components/Overview/Article/GenreHeader/GenreHeader.tsx
  react/publicSite/src/components/Overview/PaymentPage/BillingCard/BillingCard.tsx
  react/publicSite/src/components/Overview/PaymentPage/PaymentHeader/PaymentHeader.tsx
  react/publicSite/src/components/core/PageHeader/CoursePageHeader.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.stories.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
  react/publicSite/src/components/core/VideoPlayer/VideoPlayer.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
  react/publicSite/src/views/Home.tsx
  react/publicSite/src/views/PaymentPage.tsx
  react/publicSite/src/views/PrivacyPolicy.tsx
Due: none

Push public site
  .gitlab-ci.yml
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Added page margin to pages
  react/publicSite/src/components/core/Curve/PeopleCurve.tsx
  react/publicSite/src/components/core/PageHeader/CoursePageHeader.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
  react/publicSite/src/components/core/PageMargin/PageMargin.tsx
  react/publicSite/src/components/core/PageMargin/index.tsx
  react/publicSite/src/views/AboutUs.tsx
  react/publicSite/src/views/Article.tsx
  react/publicSite/src/views/ArticleLandingPage.tsx
  react/publicSite/src/views/Consultancy.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
  react/publicSite/src/views/Courses.tsx
  react/publicSite/src/views/Home.tsx
  react/publicSite/src/views/PaymentPage.tsx
  react/publicSite/src/views/PrivacyPolicy.tsx
Due: none

Bump - rebuild CI
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/views/AppHolder.tsx
Due: none

Remove non ttc text
  react/admin/src/views/Login/index.js
Due: build-admin, deploy-admin-staging

Style adjustments + links
  react/publicSite/src/components/core/PageHeader/CoursePageHeader.tsx
  react/publicSite/src/components/core/PageMargin/PageMargin.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
  react/publicSite/src/views/Courses.tsx
Due: none

Remove admin errors
  react/admin/src/App.js
  react/admin/src/components/CourseCard.js
  react/admin/src/components/ErrorModal.js
  react/admin/src/components/TagsInput.js
  react/admin/src/layouts/Dashboard/NavBar.js
  react/admin/src/views/CoursesView/Results.js
  react/admin/src/views/CreateCourse/About/About.js
  react/admin/src/views/CreateCourse/About/BulletRepeater.js
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/Overview/Overview.js
  react/admin/src/views/CreateCourse/Pricing/SideOptions.js
  react/admin/src/views/CreateCourse/Pricing/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Login/index.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/Question/CreateQuestion.js
  react/admin/src/views/Question/Overview/AnswerInput.js
  react/admin/src/views/Question/Overview/Overview.js
  react/admin/src/views/Question/Overview/QuestionType.js
  react/admin/src/views/Question/QuestionPage.js
  react/admin/src/views/Question/UpdateQuestion.js
  react/admin/src/views/QuestionsList/Results.js
  react/admin/src/views/QuestionsList/index.js
  react/delegate/src/api/environment.ts
  react/publicSite/src/components/core/PageHeader/CoursePageHeader.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
  react/publicSite/src/helpers/theme.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
Due: build-admin, deploy-admin-staging

Passing tests
  api/middleware/course/mocks/CoursesRepository.go
  api/schema/bindata.go
Due: none

Resolve test issues
  api/middleware/course/mocks/CoursesRepository.go
  api/resolvers/queries_test.go
  api/schema/bindata.go
Due: none

Create admins page and integrate api
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/AdminsList/Header.js
  react/admin/src/views/AdminsList/Results.js
  react/admin/src/views/AdminsList/index.js
  react/delegate/.config/configstore/update-notifier-nodemon.json
Due: build-admin, deploy-admin-staging

zindex fix
  react/publicSite/src/components/Overview/Article/GenreHeader/GenreHeader.tsx
Due: none

Resolve pass issues
  api/middleware/user/mocks/UsersRepository.go
  api/resolvers/mutations_test.go
  api/schema/bindata.go
Due: none

Resolve test pass issues
  api/middleware/course/mocks/CoursesRepository.go
  api/schema/bindata.go
Due: none

Resolve mocks issues
  api/middleware/course/mocks/CoursesRepository.go
  api/schema/bindata.go
Due: none

Create admin detail page template
  react/admin/src/views/AdminDetails/Header.js
  react/admin/src/views/AdminDetails/index.js
Due: build-admin, deploy-admin-staging

Setup DeleteQuestion hierarchy
  api/application/course/course_app.go
  api/application/course/module.go
  api/gentypes/module.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/middleware/course/module.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/module.graphql
Due: none

Deletes ModuleStructure link
  api/middleware/course/module.go
Due: none

Add middleware test for deleteModule
  api/middleware/course/module_test.go
Due: none

Add mutation test for deleteModule
  api/resolvers/mutations_test.go
Due: none

Updates ModuleStructure at DeleteTest
  api/middleware/course/test.go
Due: none

Fix print style issue
  react/delegate/src/App.tsx
  react/delegate/src/components/Certificate/CertInfo/CertInfo.tsx
  react/delegate/src/components/Certificate/FancyBorder/FancyBorder.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/index.css
  react/delegate/src/views/CertGenerator/CertGenerator.tsx
Due: none

Added placeholders
  react/admin/src/routes.js
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/AudioVideo/index.js
  react/admin/src/views/Module/Header.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Module/ModuleBuilder/index.js
  react/admin/src/views/Module/ModulePage.js
  react/admin/src/views/Module/Overview/Overview.js
  react/admin/src/views/Module/Overview/index.js
Due: build-admin, deploy-admin-staging

Started on frontend
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
  react/admin/src/views/Module/Overview/Overview.js
Due: build-admin, deploy-admin-staging
