Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

test-api:
  stage: test
  image: docker/compose:latest
  before_script:
  - export DOCKER_HOST="tcp://localhost:2375"
  - docker info
  - docker-compose --version
  - apk add --no-cache git bash
  script:
  - api/dev_env/run_test.sh --cover --unique --build

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-delegate-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/storybook_build

build-delegate-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/build/

build-publicSite-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/publicSite
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/publicSite/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build/

build-api:
  stage: build
  image: golang:1.14.1-alpine
  script:
  - cd api
  - go mod download
  - go build main.go
  artifacts:
    paths:
    - api/main
    expire_in: 3d

deploy-storybooks:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read
  - cd ../delegate
  ...

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-publicSite-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: public-staging
    url: http://www.ttc.devserver.london
  variables:
    EB_ENV: react-public
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/publicSite
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Fetch courses from courses page
  api/gentypes/course.go
  api/middleware/course/course.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  react/delegate/src/sharedComponents/SideModal/Tabs/Payment/__generated__/Payment_PurchaseMutation.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/sharedComponents/SideModal/Tabs/Payment/__generated__/Payment_PurchaseMutation.graphql.ts
  react/publicSite/package.json
  react/publicSite/src/App.tsx
  react/publicSite/src/__generated__/App_AppHolder_Query.graphql.ts
  react/publicSite/src/__generated__/App_Courses_Query.graphql.ts
  react/publicSite/src/__generated__/App_Query.graphql.ts
  react/publicSite/src/api/schema.graphql
  react/publicSite/src/components/CourseSearch/CourseSearch.stories.tsx
  react/publicSite/src/components/CourseSearch/CourseSearch.tsx
  react/publicSite/src/components/Menu/Footer/Footer.tsx
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/components/Menu/HeaderMenu/TabOption.tsx
  react/publicSite/src/components/core/ImageWithText/ImageWithText.tsx
  react/publicSite/src/sharedComponents/SideModal/Tabs/Payment/__generated__/Payment_PurchaseMutation.graphql.ts
  react/publicSite/src/views/AppHolder.tsx
  react/publicSite/src/views/Courses.tsx
  react/publicSite/src/views/RegisterCompany.tsx
  react/publicSite/src/views/RegisterIndividual.tsx
  react/publicSite/src/views/__generated__/AppHolder_categories.graphql.ts
  react/publicSite/src/views/__generated__/CoursesQuery.graphql.ts
  react/publicSite/src/views/__generated__/Courses_category.graphql.ts
  react/publicSite/src/views/__generated__/Courses_courses.graphql.ts
  react/publicSite/src/views/__generated__/RegisterCompany_CompanyRequestMutation.graphql.ts
  react/publicSite/src/views/__generated__/RegisterIndividual_CreateIndividualMutation.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-api-staging

Fix button
  react/manager/src/components/PageHeader/PageHeader.tsx
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Add UpdateCategory mutation
  api/application/course/category.go
  api/application/course/course_app.go
  api/gentypes/category.go
  api/middleware/course/category.go
  api/middleware/course/course.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/category.graphql
  api/schema/type/course.graphql
Due: test-api, build-api, deploy-api-staging

Complete TutorList point.
  react/admin/src/views/TutorsList/index.js
Due: build-admin, deploy-admin-staging

Add categories page
  react/admin/src/components/Results.js
  react/admin/src/layouts/Dashboard/navConfig.js
  react/admin/src/routes.js
  react/admin/src/views/CategoriesList/Header.js
  react/admin/src/views/CategoriesList/IndividualCreateModal.js
  react/admin/src/views/CategoriesList/index.js
Due: build-admin, deploy-admin-staging

Improved drag accuracy
  react/admin/src/components/ReorderableList/ReorderableDropdown.js
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/components/ReorderableList/ReorderableListItem.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Test/TestBuilder/TestBuilder.js
  react/admin/src/views/Test/UpdateTest.js
Due: build-admin, deploy-admin-staging

Create and edit categories
  react/admin/package.json
  react/admin/src/views/CategoriesList/CategorySaveModal.js
  react/admin/src/views/CategoriesList/Header.js
  react/admin/src/views/CategoriesList/IndividualCreateModal.js
  react/admin/src/views/CategoriesList/index.js
  react/admin/yarn.lock
Due: build-admin, deploy-admin-staging

Add Create/Edit Tutor.
  react/admin/src/routes.js
  react/admin/src/views/Tutor/CreateTutor.js
  react/admin/src/views/Tutor/Header.js
  react/admin/src/views/Tutor/Overview/Overview.js
  react/admin/src/views/Tutor/Overview/index.js
  react/admin/src/views/Tutor/TutorPage.js
  react/admin/src/views/Tutor/UpdateTutor.js
  react/admin/src/views/TutorsList/index.js
Due: build-admin, deploy-admin-staging

Edit + delete categories
  api/application/course/category.go
  api/application/course/course_app.go
  api/database/migration/migration.go
  api/gentypes/category.go
  api/middleware/course/category.go
  api/middleware/course/course.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/category.graphql
  react/admin/src/views/CategoriesList/CategorySaveModal.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Fix tests
  api/middleware/course/mocks/CoursesRepository.go
Due: test-api, build-api, deploy-api-staging

Fix admin warnings
  react/admin/src/views/CategoriesList/CategorySaveModal.js
  react/admin/src/views/CategoriesList/Header.js
  react/admin/src/views/CategoriesList/index.js
Due: build-admin, deploy-admin-staging

Fix admin warnings
  react/admin/src/views/TutorsList/index.js
Due: build-admin, deploy-admin-staging

Remove big tags to speed up pipeline
  .gitlab-ci.yml
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Jim actually does a good job
  .gitlab-ci.yml
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Started adding finalise login page
  react/delegate/package.json
  react/delegate/src/App.tsx
  react/delegate/src/components/LoginDialogue/FancyInput/FancyInput.tsx
  react/delegate/src/components/LoginDialogue/FinaliseDialogue.tsx
  react/delegate/src/components/LoginDialogue/LoginDialogue.stories.tsx
  react/delegate/src/views/FinaliseLogin/FinaliseLogin.tsx
  react/delegate/src/views/FinaliseLogin/index.tsx
  react/delegate/yarn.lock
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Added password recovery pages
  react/delegate/src/App.tsx
  react/delegate/src/components/LoginDialogue/LoginDialogue.stories.tsx
  react/delegate/src/components/LoginDialogue/PasswordDialogue.tsx
  react/delegate/src/views/RecoverPassword/RecoverPassword.tsx
  react/delegate/src/views/RecoverPassword/index.tsx
  react/manager/src/App.tsx
  react/manager/src/components/LoginDialogue/LoginDialogue.stories.tsx
  react/manager/src/components/LoginDialogue/PasswordDialogue.tsx
  react/manager/src/views/RecoverPassword/RecoverPassword.tsx
  react/manager/src/views/RecoverPassword/index.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-delegate-staging

Updated lesson to match schema
  react/admin/src/views/Lesson/AudioVideo/AudioVideo.js
  react/admin/src/views/Lesson/CreateLesson.js
  react/admin/src/views/Lesson/Overview/Overview.js
  react/admin/src/views/Lesson/UpdateLesson.js
  react/admin/src/views/LessonsList/Results.js
  react/admin/src/views/LessonsList/index.js
Due: build-admin, deploy-admin-staging

Update
  .gitlab-ci.yml
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Minor style + name updates
  react/admin/public/index.html
  react/admin/src/views/Tutor/Overview/Overview.js
  react/admin/src/views/TutorsList/index.js
Due: build-admin, deploy-admin-staging

Remove modules linked field
  react/admin/src/views/LessonsList/index.js
Due: build-admin, deploy-admin-staging

Fix admin warnings
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/Lesson/CreateLesson.js
Due: build-admin, deploy-admin-staging

Wip - Start adding finalise delegate mutations
  api/application/users/delegate.go
  api/auth/auth.go
  api/gentypes/delegate.go
Due: test-api, build-api, deploy-api-staging

Added frontend for courses tabs
  react/admin/src/views/DelegateDetails/Courses/Courses.js
  react/admin/src/views/DelegateDetails/Courses/index.js
  react/admin/src/views/DelegateDetails/index.js
  react/admin/src/views/IndividualDetails/Courses/Courses.js
  react/admin/src/views/IndividualDetails/Courses/index.js
  react/admin/src/views/IndividualDetails/index.js
Due: build-admin, deploy-admin-staging

Manager pages use https
  react/manager/src/api/environment.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Added CourseTakerUUID to individual
  api/gentypes/individual.go
  api/resolvers/individual.go
  api/schema/bindata.go
  api/schema/type/individual.graphql
Due: test-api, build-api, deploy-api-staging

Finalise Delegate mutation
  api/application/users/delegate.go
  api/application/users/users_app.go
  api/auth/auth.go
  api/resolvers/mutations.go
  api/schema/mutation.graphql
  api/schema/type/delegate.graphql
Due: test-api, build-api, deploy-api-staging

Update bindata + mutation
  api/schema/bindata.go
  api/schema/mutation.graphql
Due: test-api, build-api, deploy-api-staging

Add logo & contactPhone fields to Company
  api/application/users/company.go
  api/gentypes/company.go
  api/models/company.go
  api/resolvers/company.go
  api/schema/type/company.graphql
Due: test-api, build-api, deploy-api-staging

Add missing fields to create mutation
  api/application/users/company.go
  api/gentypes/company.go
  api/middleware/user/company.go
  api/middleware/user/company_test.go
  api/middleware/user/mocks/UsersRepository.go
  api/middleware/user/users_repo.go
  api/schema/type/company.graphql
Due: test-api, build-api, deploy-api-staging

Add missing fields to update mutation
  api/application/users/company.go
  api/gentypes/company.go
  api/middleware/user/company.go
  api/middleware/user/mocks/UsersRepository.go
  api/middleware/user/users_repo.go
  api/schema/bindata.go
  api/schema/type/company.graphql
Due: test-api, build-api, deploy-api-staging

Added mutation and JWT decode
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/LoginDialogue/FinaliseDialogue.tsx
  react/delegate/src/components/LoginDialogue/LoginDialogue.stories.tsx
  react/delegate/src/views/FinaliseLogin/FinaliseLogin.tsx
  react/delegate/src/views/FinaliseLogin/__generated__/FinaliseLogin_FinaliseMutation.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Added current month stats
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/TrainingZone/TopInfo.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/delegate/src/views/TrainingZone/__generated__/TrainingZone_user.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Added single user data to booking modal
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/components/Delegate/ActiveCoursesEmpty/ActiveCoursesEmpty.stories.tsx
  react/manager/src/components/Delegate/ActiveCoursesEmpty/ActiveCoursesEmpty.tsx
  react/manager/src/components/PageHeader/PageHeader.tsx
  react/manager/src/components/SingleUser/SingleUser.tsx
  react/manager/src/components/SingleUser/Tabs.tsx
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Added prefill
  react/manager/src/components/MultiUser/MultiUser.tsx
  react/manager/src/views/CoursesPage.tsx
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Updated decoded object
  react/delegate/src/App.tsx
  react/delegate/src/components/LoginDialogue/FinaliseDialogue.tsx
  react/delegate/src/views/FinaliseLogin/FinaliseLogin.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Fix mutation
  api/middleware/user/delegate.go
  react/delegate/src/App.tsx
  react/delegate/src/views/FinaliseLogin/FinaliseLogin.tsx
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Fix manager logout
  api/application/users/manager.go
Due: test-api, build-api, deploy-api-staging

Fix MyCourses resolver
  api/application/users/individual.go
  api/resolvers/individual.go
Due: test-api, build-api, deploy-api-staging

Link Course Details page
  react/manager/src/api/schema.graphql
  react/publicSite/src/App.tsx
  react/publicSite/src/__generated__/App_CourseDetailsPage_Query.graphql.ts
  react/publicSite/src/__generated__/App_Query.graphql.ts
  react/publicSite/src/components/Misc/CoursePreview/CoursePreview.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
  react/publicSite/src/views/Courses.tsx
  react/publicSite/src/views/__generated__/CourseDetailsPage_course.graphql.ts
Due: build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging

Add responsive images
  react/publicSite/src/components/core/PageHeader/CoursePageHeader.tsx
  react/publicSite/src/views/CourseDetailsPage.tsx
Due: build-publicSite-webpack, deploy-publicSite-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*
