Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

test-api:
  stage: test
  image: docker/compose:latest
  before_script:
  - export DOCKER_HOST="tcp://localhost:2375"
  - docker info
  - docker-compose --version
  - apk add --no-cache git bash
  script:
  - api/dev_env/run_test.sh --cover --unique --build

build-admin:
  stage: build
  image: node:10.16.2
  script:
  - cd ./react/admin
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/admin/build/

build-delegate-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/storybook_build

build-delegate-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/delegate
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/delegate/build/

build-publicSite-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/publicSite
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/publicSite/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run storybook-build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
  - cd react/manager
  - yarn
  - yarn run build
  cache:
    paths:
    - node_modules/
  tags:
  - big
  artifacts:
    expire_in: 3d
    paths:
    - react/manager/build/

build-api:
  stage: build
  image: golang:1.14.1-alpine
  script:
  - cd api
  - go mod download
  - go build main.go
  artifacts:
    paths:
    - api/main
    expire_in: 3d

deploy-storybooks:
  stage: deploy-staging
  image: python:3.8-slim-buster
  cache:
    paths:
    - node_modules/
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read
  - cd ../delegate
  ...

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  variables:
    EB_ENV: react-manager
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/manager
  - chmod +x ./bin/deploy.sh
  ...

deploy-publicSite-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: public-staging
    url: http://www.ttc.devserver.london
  variables:
    EB_ENV: react-public
  script:
  - pip install awscli
  - apt-get update
  - apt-get install -y zip
  - cd ./react/publicSite
  - chmod +x ./bin/deploy.sh
  - ./bin/deploy.sh

Update searchSyllabus tests
  api/middleware/course/course_test.go
  api/resolvers/queries_test.go
Due: test-api, build-api, deploy-api-staging

Added file drop zone and module builder table
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/Module/Overview/Overview.js
Due: build-admin, deploy-admin-staging

Corrected styles
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Added draggable list
  react/admin/package.json
  react/admin/src/components/ReorderableList/ReorderableDropdown.js
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/components/ReorderableList/ReorderableListItem.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/yarn.lock
Due: build-admin, deploy-admin-staging

Fix syllabus resolver
  api/resolvers/course.go
  api/resolvers/module.go
  api/resolvers/queries.go
  api/resolvers/syllabus.go
Due: test-api, build-api, deploy-api-staging

Get course structure for syllabus
  api/application/course/course.go
  api/middleware/course/course.go
  api/middleware/course/online_course.go
  api/resolvers/syllabus.go
Due: test-api, build-api, deploy-api-staging

Resolve module syllabus
  api/application/course/course_app.go
  api/application/course/module.go
  api/resolvers/syllabus.go
Due: test-api, build-api, deploy-api-staging

Removed text field
  react/admin/src/components/ReorderableList/ReorderableDropdown.js
Due: build-admin, deploy-admin-staging

Fix print style issue
  react/delegate/src/api/environment.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Fix print style issue
  react/delegate/src/components/Certificate/FancyBorder/FancyBorder.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/views/CertGenerator/CertGenerator.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Updated menu items
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.stories.tsx
  react/publicSite/src/components/Menu/HeaderMenu/MobileMenu.tsx
  react/publicSite/src/components/Menu/HeaderMenu/TabOption.tsx
  react/publicSite/src/views/AppHolder.tsx
Due: build-publicSite-webpack, deploy-publicSite-staging

Split files into components
  react/admin/src/components/Filter/MultiSelect.js
  react/admin/src/components/Filter/index.js
  react/admin/src/components/SuggestedTable.js
  react/admin/src/views/CoursesView/index.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Added multiple lists to course builder
  react/admin/src/components/ReorderableList/ReorderableList.js
  react/admin/src/views/CreateCourse/CourseBuilder/index.js
Due: build-admin, deploy-admin-staging

Change LessonResolver to use pointer uuid
  api/loader/lesson.go
  api/resolvers/lesson.go
  api/resolvers/queries.go
Due: test-api, build-api, deploy-api-staging

Add tests dataloader + Update test resolver
  api/application/course/course_app.go
  api/application/course/test.go
  api/loader/loaders.go
  api/loader/test.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/middleware/course/test.go
  api/resolvers/test.go
Due: test-api, build-api, deploy-api-staging

Complete a course - prelude to cert creation
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/application/course/test.go
  api/application/course/test_test.go
  api/application/users/user.go
  api/gentypes/course.go
  api/gentypes/test.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/middleware/course/test.go
  api/middleware/orders.go
  api/middleware/user/course_taker.go
  api/middleware/user/mocks/UsersRepository.go
  api/middleware/user/users_repo.go
  api/models/course_taker.go
  api/resolvers/active_course.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/type/test.graphql
  api/schema/type/users.graphql
Due: test-api, build-api, deploy-api-staging

Add modules dataloader
  api/application/course/course_app.go
  api/application/course/module.go
  api/loader/loaders.go
  api/loader/module.go
  api/middleware/course/course.go
  api/middleware/course/mocks/CoursesRepository.go
  api/middleware/course/module.go
  api/resolvers/module.go
Due: test-api, build-api, deploy-api-staging

Update searchSyllabus query test
  api/resolvers/queries_test.go
Due: test-api, build-api, deploy-api-staging

Fix lessons test
  api/middleware/course/tag.go
  api/resolvers/queries_test.go
Due: test-api, build-api, deploy-api-staging

Fix uint as input
  api/application/course/test.go
  api/gentypes/test.go
Due: test-api, build-api, deploy-api-staging

Add API to AppHolder search
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/__generated__/AppHolderQuery.graphql.ts
  react/delegate/src/views/__generated__/AppHolder_courses.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Certificate generation
  api/Dockerfile.dev
  api/Dockerfile.test
  api/application/course/certificate.go
  api/application/course/test.go
  api/auth/certificate_auth.go
  api/auth/permissions.go
  api/helpers/config.go
  api/middleware/user/course_taker.go
  api/middleware/user/users_repo.go
  api/models/certificate.go
  api/models/course.go
  api/models/course_taker.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/uploads/upload.go
Due: test-api, build-api, deploy-api-staging

Calculate expiration date
  api/application/course/test.go
  api/database/migration/migration.go
  api/gentypes/course.go
  api/middleware/course/course.go
  api/models/certificate.go
  api/models/course.go
  api/models/course_taker.go
  api/schema/bindata.go
  api/schema/type/course.graphql
  api/uploads/upload.go
Due: test-api, build-api, deploy-api-staging

Update expiration dates
  api/gentypes/course.go
  api/middleware/course/classroom_course.go
  api/middleware/course/course.go
  api/middleware/course/online_course.go
Due: test-api, build-api, deploy-api-staging

Update expires in months
  api/application/course/course.go
  api/gentypes/course.go
  api/resolvers/course.go
  api/schema/bindata.go
  api/schema/type/course.graphql
Due: test-api, build-api, deploy-api-staging

Start creation of certificateInfo query
  api/application/course/certificate.go
  api/gentypes/certificate.go
  api/middleware/user/course_taker.go
  api/middleware/user/delegate.go
  api/middleware/user/users_repo.go
  api/models/certificate.go
Due: test-api, build-api, deploy-api-staging

Get certificate Info
  api/application/course/certificate.go
  api/application/course/course_app.go
  api/gentypes/certificate.go
  api/middleware/course/certificate.go
  api/middleware/course/course.go
  api/resolvers/queries.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/certificate.graphql
Due: test-api, build-api, deploy-api-staging

Update SearchResults + Add pagination API
  react/delegate/src/components/Search/SearchResults/SearchResults.stories.tsx
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/__generated__/AppHolderQuery.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Update Pagination component + API in Search
  react/delegate/src/components/Search/SearchResults/SearchResults.stories.tsx
  react/delegate/src/components/Search/SearchResults/SearchResults.tsx
  react/delegate/src/sharedComponents/Pagination/Paginator/Pageinator.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/__generated__/AppHolderQuery.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Update ModulesByUUIDs grants
  api/application/course/module.go
Due: test-api, build-api, deploy-api-staging

Show historical courses
  api/application/users/user.go
  api/application/users/users_app.go
  api/database/migration/migration.go
  api/gentypes/course.go
  api/middleware/user/course_taker.go
  api/middleware/user/users_repo.go
  api/resolvers/active_course.go
  api/resolvers/delegate.go
  api/resolvers/my_course.go
  api/resolvers/user.go
  api/schema/bindata.go
  api/schema/type/delegate.graphql
  api/schema/type/users.graphql
Due: test-api, build-api, deploy-api-staging

Implement showing historical courses
  react/delegate/src/__generated__/App_Courses_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/__generated__/OnlineCourses_user.graphql.ts
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-delegate-staging

Fix tests
  api/application/course/test_test.go
Due: test-api, build-api, deploy-api-staging

Fix warnings
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
Due: build-admin, deploy-admin-staging

Continued adding api
  react/admin/src/routes.js
  react/admin/src/views/Module/CreateModule.js
  react/admin/src/views/Module/UpdateModule.js
  react/admin/src/views/ModulesList/Results.js
  react/admin/src/views/ModulesList/index.js
Due: build-admin, deploy-admin-staging

Changed video type
  react/admin/src/views/Module/AudioVideo/AudioVideo.js
Due: build-admin, deploy-admin-staging

Added default uuid
  react/admin/src/views/Module/CreateModule.js
Due: build-admin, deploy-admin-staging

Started adding search api
  react/admin/src/views/Module/ModuleBuilder/ModuleBuilder.js
Due: build-admin, deploy-admin-staging

Admin test updates
  react/admin/src/views/Test/CreateTest.js
  react/admin/src/views/Test/Overview/Overview.js
  react/admin/src/views/Test/UpdateTest.js
Due: build-admin, deploy-admin-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*
