Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-admin, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-admin-staging, deploy-api-staging

Path conditions:
  test-api: any of: api/**/*
  build-admin: any of: react/admin/**/*
  build-delegate-storybook: any of: react/delegate/**/*, .gitlab-ci.yml
  build-delegate-webpack: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-publicSite-webpack: any of: react/publicSite/**/*, .gitlab-ci.yml
  build-manager-storybook: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  build-manager-webpack: any of: react/manager/**/*, .gitlab-ci.yml
  build-api: any of: api/**/*, .gitlab-ci.yml
  deploy-storybooks: any of: react/manager/**/*, react/delegate/**/*, .gitlab-ci.yml
  deploy-manager-staging: any of: react/manager/**/*, .gitlab-ci.yml
  deploy-publicSite-staging: any of: react/publicSite/**/*, .gitlab-ci.yml
  deploy-delegate-staging: any of: react/delegate/**/*, .gitlab-ci.yml
  deploy-admin-staging: any of: react/admin/**/*
  deploy-api-staging: any of: api/**/*

Update relay
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Get query info
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/__generated__/App_TrainingZone_Query.graphql.ts
  react/delegate/src/views/TrainingZone/TopInfo.tsx
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Add training progress icon
  react/delegate/src/assets/LeftNav_Icon_Training.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/delegate/src/views/AppHolder.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Adding progress to MyCourse
  api/application/course/purchasing.go
  api/application/users/user.go
  api/application/users/users_app.go
  api/gentypes/course.go
  api/gentypes/user.go
  api/middleware/course/course.go
  api/middleware/course/test.go
  api/resolvers/my_course.go
  api/resolvers/progress.go
  api/schema/bindata.go
  api/schema/type/users.graphql
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_user.graphql.ts
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-manager-storybook, build-api, deploy-storybooks, deploy-delegate-staging, deploy-api-staging

Add Lesson type to test pages
  api/application/course/course.go
  api/application/course/test.go
  api/application/users/user.go
  api/resolvers/progress.go
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Course_Query.graphql.ts
  react/delegate/src/__generated__/App_Courses_Query.graphql.ts
  react/delegate/src/__generated__/App_Lesson_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/components/Overview/CourseSyllabusCard/CourseSyllabusCardFrag.tsx
  react/delegate/src/sharedComponents/CourseTable/CourseTable.tsx
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/delegate/src/sharedComponents/core/CourseCompletion/CourseCompletion.tsx
  react/delegate/src/views/Lesson/Lesson.tsx
  react/delegate/src/views/Lesson/__generated__/Lesson_lesson.graphql.ts
  react/delegate/src/views/Lesson/__generated__/Lesson_myActiveCourse.graphql.ts
  react/delegate/src/views/Lesson/index.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/__generated__/OnlineCourse_myActiveCourse.graphql.ts
  react/delegate/src/views/OnlineCourses/OnlineCourses.tsx
  react/delegate/src/views/OnlineCourses/__generated__/OnlineCourses_user.graphql.ts
  react/delegate/src/views/helpers.ts
  react/manager/src/assets/LeftNav_Icon_Training.svg
  react/manager/src/sharedComponents/CourseTable/CourseTable.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/core/CourseCompletion/CourseCompletion.tsx
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/assets/LeftNav_Icon_Training.svg
  react/publicSite/src/sharedComponents/CourseTable/CourseTable.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/publicSite/src/sharedComponents/core/CourseCompletion/CourseCompletion.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: test-api, build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging, deploy-api-staging

Show more info on courseCard
  react/admin/src/components/CourseCard.js
  react/admin/src/views/CoursesView/index.js
Due: build-admin, deploy-admin-staging

Remove invoices and logs from company
  react/admin/src/views/CompanyManagementDetails/index.js
Due: build-admin, deploy-admin-staging

Fix tests
  api/middleware/course/mocks/CoursesRepository.go
Due: test-api, build-api, deploy-api-staging

Updated list element
  react/admin/src/views/DelegateDetails/Courses/Courses.js
  react/admin/src/views/IndividualDetails/Courses/Courses.js
Due: build-admin, deploy-admin-staging

Added courses to jump back in
  react/delegate/src/__generated__/App_TrainingZone_Query.graphql.ts
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
  react/delegate/src/views/TrainingZone/__generated__/TrainingZone_user.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Add activity to company
  api/application/users/activity.go
  api/application/users/user.go
  api/application/users/users_app.go
  api/middleware/user/company.go
  api/middleware/user/course_taker.go
  api/middleware/user/delegate.go
  api/middleware/user/users_repo.go
  api/resolvers/activity_resolver.go
  api/resolvers/company.go
  api/resolvers/user.go
  api/schema/bindata.go
  api/schema/type/company.graphql
  api/schema/type/users.graphql
  react/manager/src/__generated__/App_Org_Query.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/components/Overview/ActivityCard/ActivityCard.stories.tsx
  react/manager/src/components/Overview/ActivityCard/ActivityCard.tsx
  react/manager/src/components/Overview/ActivityCard/UserUpdate.tsx
  react/manager/src/components/Overview/ActivityCard/__generated__/ActivityCard_activity.graphql.ts
  react/manager/src/components/Overview/ActivityCard/__generated__/UserUpdate_activity.graphql.ts
  react/manager/src/views/OrgOverview.tsx
  react/manager/src/views/__generated__/OrgOverview_manager.graphql.ts
Due: test-api, build-delegate-webpack, build-manager-storybook, build-manager-webpack, build-api, deploy-storybooks, deploy-manager-staging, deploy-api-staging

Fix jump styles
  react/delegate/src/views/TrainingZone/TrainingZone.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Update queries + add certificateURL
  api/application/users/user.go
  api/gentypes/course.go
  api/resolvers/my_course.go
  api/schema/bindata.go
  api/schema/type/users.graphql
  react/admin/src/views/DelegateDetails/Courses/Courses.js
  react/admin/src/views/IndividualDetails/Courses/Courses.js
Due: test-api, build-admin, build-api, deploy-admin-staging, deploy-api-staging

Add certURL to individual site
  react/delegate/src/__generated__/App_Progress_Query.graphql.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/TrainingProgress/TrainingProgress.tsx
  react/delegate/src/views/TrainingProgress/__generated__/TrainingProgress_user.graphql.ts
Due: build-delegate-storybook, build-delegate-webpack, build-manager-storybook, deploy-storybooks, deploy-delegate-staging

Fix courseCard size
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/views/CoursesPage.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
Due: build-delegate-storybook, build-delegate-webpack, build-publicSite-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging, deploy-publicSite-staging, deploy-delegate-staging

Update mocks
  api/middleware/user/mocks/UsersRepository.go
Due: test-api, build-api, deploy-api-staging

Manager: Get company logo from api
  react/manager/src/__generated__/App_Holder_Query.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/manager/src/views/AppHolder.tsx
  react/manager/src/views/__generated__/AppHolder_manager.graphql.ts
Due: build-delegate-webpack, build-manager-storybook, build-manager-webpack, deploy-storybooks, deploy-manager-staging

Add company logo in admin
  react/admin/package.json
  react/admin/src/views/CompanyManagementDetails/Summary/CompanyEditModal.js
  react/admin/src/views/CompanyManagementDetails/Summary/CompanyInfo.js
  react/admin/src/views/CompanyManagementDetails/index.js
  react/admin/yarn.lock
Due: build-admin, deploy-admin-staging
