Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

.gitlab-ci.yml:

stages:
  - test
  - build
  - deploy-staging

variables:
  MANAGER_IMAGE_TAG: $CI_REGISTRY_IMAGE:manager
  ADMIN_IMAGE_TAG: $CI_REGISTRY_IMAGE:admin

test-api:
  stage: test
  image: golang:latest
  script:
    - cd api
    - go test ./...

test-api-coverage:
  stage: test
  image: golang:latest
  script:
    - cd api
    - go test ./... -cover

build-admin:
  stage: build
  image: node:10.16.2
  script:
    - cd ./react/admin
    - yarn
    - yarn run build
  cache:
    paths:
      - node_modules/
  only:
    changes:
      - react/admin/**/*
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run storybook-build
  cache:
    paths:
      - node_modules/
  only:
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run build
  only:
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - node_modules/
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python:3.8-slim-buster
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - node_modules/
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  variables:
    EB_ENV: 'react-manager'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/admin/**/*
  variables:
    EB_ENV: 'react-admin'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/admin
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

Progress bar animation
  react/delegate/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
  react/manager/src/sharedComponents/core/ProgressBar/ProgressBar.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update LessonFilter to filter by tags
  api/gentypes/lesson.go
  api/middleware/lesson.go
  api/middleware/lesson_test.go
  api/schema/query.graphql
Due: none

Added basket icon
  react/delegate/src/assets/Basket.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/assets/Basket.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/assets/Basket.svg
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Started adding course variant
  react/publicSite/src/components/core/PageHeader/PageHeader.stories.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
Due: none

Added course preview
  react/publicSite/src/components/Misc/CoursePreview/CoursePreview.stories.tsx
  react/publicSite/src/components/Misc/CoursePreview/CoursePreview.tsx
  react/publicSite/src/components/Misc/CoursePreview/index.tsx
Due: none

Finished course variant
  react/publicSite/src/components/Misc/CoursePreview/CoursePreview.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.stories.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
Due: none

Fix LessonFilter's tag pointer issues
  api/gentypes/lesson.go
  api/middleware/lesson.go
  api/middleware/lesson_test.go
Due: none

Update Lesson query to accept UUID as string
  api/resolvers/queries.go
Due: none

Add delegates functionality
  react/delegate/src/api/environment.ts
  react/delegate/src/sharedComponents/core/Cards/LabelledCard/LabelledCard.stories.tsx
  react/delegate/src/sharedComponents/core/Cards/LabelledCard/LabelledCard.tsx
  react/delegate/src/sharedComponents/core/Cards/LabelledCard/index.tsx
  react/manager/src/api/schema.graphql
  react/manager/src/components/Delegate/DelegateSlideIn/DelegateSlideIn.tsx
  react/manager/src/components/Delegate/DelegateSlideIn/__generated__/mutations_CreateDelegateMutation.graphql.ts
  react/manager/src/components/Delegate/DelegateSlideIn/mutations.ts
  react/manager/src/components/IdentTag/IdentTag.tsx
  react/manager/src/components/PageHeader/PageHeader.tsx
  react/manager/src/components/core/Input/CheckboxSingle/CheckboxSingle.stories.tsx
  react/manager/src/components/core/Input/CheckboxSingle/CheckboxSingle.tsx
  react/manager/src/components/core/Modals/SideModal/PaymentSuccess/PaymentSuccess.tsx
  react/manager/src/components/core/Modals/SideModal/Tabs/Tabs.tsx
  react/manager/src/sharedComponents/core/Cards/LabelledCard/LabelledCard.stories.tsx
  react/manager/src/sharedComponents/core/Cards/LabelledCard/LabelledCard.tsx
  react/manager/src/sharedComponents/core/Cards/LabelledCard/index.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Show list of delegates
  api/middleware/delegate.go
  react/delegate/src/sharedComponents/core/Table/Text/Text.tsx
  react/manager/package.json
  react/manager/src/App.tsx
  react/manager/src/__generated__/App_DelegatesPage_Query.graphql.ts
  react/manager/src/sharedComponents/core/Table/Text/Text.tsx
  react/manager/src/views/DelegatesPage.tsx
  react/manager/src/views/__generated__/CoursesPage_onlineCourses.graphql.ts
  react/manager/src/views/__generated__/DelegatesPage_delegates.graphql.ts
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Link delegates list page to api
  react/delegate/src/sharedComponents/core/Table/Text/Text.tsx
  react/manager/src/App.tsx
  react/manager/src/__generated__/App_DelegatesPage_Query.graphql.ts
  react/manager/src/__generated__/App_DelegatesProfile_Query.graphql.ts
  react/manager/src/__generated__/App_Org_Query.graphql.ts
  react/manager/src/sharedComponents/core/Table/Text/Text.tsx
  react/manager/src/views/DelegateProfilePage.tsx
  react/manager/src/views/DelegatesPage.tsx
  react/manager/src/views/OrgOverview.tsx
  react/manager/src/views/__generated__/DelegateProfilePage_delegate.graphql.ts
  react/manager/src/views/__generated__/DelegatesPage_manager.graphql.ts
  react/manager/src/views/__generated__/OrgOverview_manager.graphql.ts
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Fix tests
  api/middleware/delegate_test.go
Due: none

Add thin User query
  api/gentypes/user.go
  api/middleware/company.go
  api/middleware/company_test.go
  api/middleware/delegate.go
  api/middleware/manager.go
  api/middleware/user.go
  api/resolvers/queries.go
  api/resolvers/queries_test.go
  api/resolvers/user.go
  api/schema/bindata.go
  api/schema/query.graphql
  api/schema/type/users.graphql
Due: none

Adding API to delegate screens
  react/delegate/package.json
  react/delegate/src/App.tsx
  react/delegate/src/__generated__/App_Holder_Query.graphql.ts
  react/delegate/src/__generated__/App_Query.graphql.ts
  react/delegate/src/api/environment.ts
  react/delegate/src/api/schema.graphql
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/Login/LoginPage.tsx
  react/delegate/src/views/Login/__generated__/LoginPage_LoginMutation.graphql.ts
  react/delegate/src/views/__generated__/AppHolder_user.graphql.ts
  react/manager/src/App.tsx
  react/manager/src/api/environment.ts
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Admin API integration groundwork
  api/handler/handler.go
  react/admin/package.json
  react/admin/src/App.js
  react/admin/src/api/environment.js
  react/admin/src/api/schema.graphql
  react/admin/src/layouts/Auth/index.js
  react/admin/src/views/Login/LoginForm.js
  react/admin/yarn.lock
Due: build-admin, deploy-admin-staging

Admin login + get companies
  api/handler/auth/auth.go
  api/resolvers/mutations.go
  react/admin/package.json
  react/admin/src/App.js
  react/admin/src/api/environment.js
  react/admin/src/api/schema.graphql
  react/admin/src/views/CompaniesManagementList/index.js
  react/admin/src/views/Login/LoginForm.js
  react/admin/yarn.lock
Due: build-admin, deploy-admin-staging

Update schema
  api/schema/bindata.go
  api/schema/type/users.graphql
Due: none

Tags are loaded at request
  api/middleware/tag.go
  api/middleware/tag_test.go
  api/resolvers/lesson.go
Due: none

Only run on dev
  .gitlab-ci.yml
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Added footer and updated shared components
  react/publicSite/src/components/Menu/Footer/Footer.stories.tsx
  react/publicSite/src/components/Menu/Footer/Footer.tsx
  react/publicSite/src/components/Menu/Footer/index.tsx
  react/publicSite/src/components/core/PageHeader/PageHeader.tsx
  react/publicSite/src/helpers/theme.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/publicSite/src/sharedComponents/Overview/CourseCard/index.tsx
  react/publicSite/src/sharedComponents/core/Cards/LabelledCard/LabelledCard.stories.tsx
  react/publicSite/src/sharedComponents/core/Cards/LabelledCard/LabelledCard.tsx
  react/publicSite/src/sharedComponents/core/Cards/LabelledCard/index.tsx
  react/publicSite/src/sharedComponents/core/Table/Text/Text.tsx
Due: none

Added socials icons
  react/delegate/src/assets/AviationSecurityCert.svg
  react/delegate/src/assets/Facebook_Logo.png
  react/delegate/src/assets/LinkedIn_Logo.png
  react/delegate/src/assets/Twitter_Logo.png
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/assets/AviationSecurityCert.svg
  react/manager/src/assets/Facebook_Logo.png
  react/manager/src/assets/LinkedIn_Logo.png
  react/manager/src/assets/Twitter_Logo.png
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/assets/AviationSecurityCert.svg
  react/publicSite/src/assets/Facebook_Logo.png
  react/publicSite/src/assets/LinkedIn_Logo.png
  react/publicSite/src/assets/Twitter_Logo.png
  react/publicSite/src/components/Menu/Footer/Footer.stories.tsx
  react/publicSite/src/components/Menu/Footer/Footer.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Placeholder for link
  react/publicSite/src/components/Menu/Footer/Footer.tsx
Due: none

Add expose
  api/Dockerfile
Due: none

Added blue logo
  react/delegate/src/assets/logo/blue-ttc-logo.svg
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/manager/src/assets/logo/blue-ttc-logo.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
  react/publicSite/src/assets/logo/blue-ttc-logo.svg
  react/publicSite/src/components/Menu/Footer/Footer.tsx
  react/publicSite/src/sharedComponents/core/Icon/Icon.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update to use devserver
  api/Dockerfile.dev
  api/Dockerfile.test
  api/handler/auth/auth.go
  api/helpers/config.go
  react/admin/src/App.js
  react/admin/src/views/Login/LoginForm.js
  react/delegate/src/api/environment.ts
  react/manager/src/api/environment.ts
Due: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

Fix unused function
  react/admin/src/App.js
Due: build-admin, deploy-admin-staging

Add lessons queries tests
  api/middleware/lesson.go
  api/resolvers/queries_test.go
  api/schema/bindata.go
Due: none

Replace getLessonsByTags with a JOINS call
  api/middleware/lesson.go
Due: none

Re-add conflicted functions
  api/resolvers/queries.go
  api/resolvers/queries_test.go
Due: none

Update bindata.go
  api/schema/bindata.go
Due: none

Add new fields to create course
  api/database/migration/migration.go
  api/gentypes/course.go
  api/middleware/course_info.go
  api/middleware/course_info_test.go
  api/middleware/online_course.go
  api/models/course.go
  api/resolvers/course_info.go
  api/resolvers/mutations_test.go
  api/schema/bindata.go
  api/schema/type/course.graphql
Due: none

Added image with text container
  react/publicSite/src/components/core/ImageWithText/ImageWithText.stories.tsx
  react/publicSite/src/components/core/ImageWithText/ImageWithText.tsx
  react/publicSite/src/components/core/ImageWithText/index.tsx
  react/publicSite/src/helpers/theme.tsx
Due: none

Started adding curve component
  react/publicSite/src/components/core/Curve/Curve.stories.tsx
  react/publicSite/src/components/core/Curve/Curve.tsx
  react/publicSite/src/components/core/Curve/index.tsx
Due: none

Corrected register button size
  react/publicSite/src/components/Menu/HeaderMenu/HeaderMenu.tsx
Due: none

Corrected font sizes and weight
  react/publicSite/src/components/Misc/CoursePreview/CoursePreview.tsx
Due: none

Removed explicit height
  react/publicSite/src/components/Misc/CoursePreview/CoursePreview.tsx
Due: none

Corrected font colour
  react/publicSite/src/components/core/VideoPlayer/FloatingVideo.tsx
Due: none
