Repository flavio912/react-golang-eLearning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging, deploy-admin-staging

.gitlab-ci.yml:

stages:
  - test
  - build
  - deploy-staging

variables:
  MANAGER_IMAGE_TAG: $CI_REGISTRY_IMAGE:manager
  ADMIN_IMAGE_TAG: $CI_REGISTRY_IMAGE:admin

test-api:
  stage: test
  image: golang:latest
  script:
    - cd api
    - go test ./...

test-api-coverage:
  stage: test
  image: golang:latest
  script:
    - cd api
    - go test ./... -cover

build-admin:
  stage: build
  image: node:10.16.2
  script:
    - cd ./react/admin
    - yarn
    - yarn run build
  cache:
    paths:
      - node_modules/
  only:
    changes:
      - react/admin/**/*
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run storybook-build
  cache:
    paths:
      - node_modules/
  only:
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run build
  only:
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - node_modules/
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python:3.8-slim-buster
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  cache:
    paths:
      - node_modules/
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
      - .gitlab-ci.yml
  variables:
    EB_ENV: 'react-manager'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/admin/**/*
  variables:
    EB_ENV: 'react-admin'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/admin
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

Start implementing API
  react/manager/src/App.tsx
  react/manager/src/__generated__/App_Org_Query.graphql.ts
  react/manager/src/__generated__/OrgOverview_manager.graphql.ts
  react/manager/src/views/AppHolder.tsx
  react/manager/src/views/OrgOverview.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Remove log
  react/manager/src/views/OrgOverview.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Get OnlineCourses from API
  react/delegate/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/delegate/src/sharedComponents/Overview/CourseCard/index.tsx
  react/manager/package.json
  react/manager/src/App.tsx
  react/manager/src/__generated__/App_Holder_Query.graphql.ts
  react/manager/src/__generated__/App_OnlineCourses_Query.graphql.ts
  react/manager/src/__generated__/App_Query.graphql.ts
  react/manager/src/api/schema.graphql
  react/manager/src/sharedComponents/Overview/CourseCard/CourseCard.tsx
  react/manager/src/sharedComponents/Overview/CourseCard/index.tsx
  react/manager/src/views/AppHolder.tsx
  react/manager/src/views/CoursesPage.tsx
  react/manager/src/views/Login/LoginPage.tsx
  react/manager/src/views/Login/__generated__/LoginPage_LoginMutation.graphql.ts
  react/manager/src/views/Login/index.tsx
  react/manager/src/views/__generated__/AppHolder_manager.graphql.ts
  react/manager/src/views/__generated__/CoursesPage_classroomCourses.graphql.ts
  react/manager/src/views/__generated__/CoursesPage_onlineCourses.graphql.ts
  react/manager/src/views/__generated__/OrgOverview_manager.graphql.ts
  react/manager/tsconfig.json
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Update DelegateSlideIn + EasyInput
  react/manager/src/components/Delegate/DelegateSlideIn/DelegateSlideIn.tsx
  react/manager/src/components/core/EasyInput/EasyInput.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add storybook for EasyInput
  react/manager/src/components/core/EasyInput/EasyInput.stories.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

feat: Course Management - Transaction successful tile - see notes
  react/manager/src/components/core/SideModal/PaymentSuccess/PaymentSuccess.tsx
  react/manager/src/helpers/theme.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Create protected routes
  react/manager/src/App.tsx
  react/manager/src/api/auth.ts
  react/manager/src/api/environment.ts
  react/manager/src/api/index.ts
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add created at date
  react/manager/src/App.tsx
  react/manager/src/__generated__/App_Org_Query.graphql.ts
  react/manager/src/views/OrgOverview.tsx
  react/manager/src/views/__generated__/OrgOverview_manager.graphql.ts
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

feat: online course page
  react/delegate/src/App.tsx
  react/delegate/src/assets/Volume.svg
  react/delegate/src/components/Button/index.tsx
  react/delegate/src/components/PageTitle/PageTitle.stories.tsx
  react/delegate/src/components/PageTitle/PageTitle.tsx
  react/delegate/src/components/PageTitle/index.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/sharedComponents/core/Icon/Icon.tsx
  react/delegate/src/views/AppHolder.tsx
  react/delegate/src/views/OnlineCourse/OnlineCourse.tsx
  react/delegate/src/views/OnlineCourse/index.tsx
  react/manager/src/assets/Volume.svg
  react/manager/src/sharedComponents/core/Icon/Icon.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Start adding individual role
  api/auth/auth.go
  api/gentypes/delegate.go
  api/go.mod
  api/go.sum
  api/middleware/auth.go
  api/middleware/company.go
  api/middleware/delegate.go
  api/middleware/manager.go
  api/models/courseUser.go
  api/models/delegate.go
  api/models/individual.go
  api/models/manager.go
  api/models/user.go
  api/schema/bindata.go
  api/schema/type/delegate.graphql
Due: none

Format
  api/middleware/delegate.go
  api/models/delegate.go
  api/models/individual.go
Due: none

feat: Search results page
  react/delegate/src/App.tsx
  react/delegate/src/components/SearchResultItem/SearchResultItem.stories.tsx
  react/delegate/src/components/SearchResultItem/SearchResultItem.tsx
  react/delegate/src/components/SearchResultItem/index.tsx
  react/delegate/src/helpers/theme.tsx
  react/delegate/src/views/SearchResults/SearchResults.tsx
  react/delegate/src/views/SearchResults/index.tsx
Due: none

feat: add login links
  react/delegate/src/components/LoginDialogue/LoginDialogue.tsx
Due: none

feat: add login links
  react/delegate/src/components/LoginDialogue/LoginDialogue.tsx
  react/delegate/src/helpers/theme.tsx
Due: none

Fix tests
  api/gentypes/delegate.go
  api/gentypes/manager.go
  api/gentypes/user.go
  api/helpers/testhelpers/fixtures/delegates.yml
  api/loader/manager_test.go
  api/middleware/company_test.go
  api/middleware/delegate.go
  api/middleware/delegate_test.go
  api/middleware/manager.go
  api/middleware/manager_test.go
  api/middleware/middleware.go
  api/resolvers/delegate_mutations_test.go
  api/resolvers/queries_test.go
Due: none

Add delegateLogin
  api/gentypes/delegate.go
  api/middleware/individual.go
  api/middleware/manager_test.go
  api/middleware/middleware.go
  api/middleware/middleware_test.go
  api/models/delegate.go
  api/resolvers/delegate_mutations.go
  api/resolvers/delegate_mutations_test.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/delegate.graphql
Due: none

Start adding create delegate to API
  react/manager/src/api/schema.graphql
  react/manager/src/components/Delegate/DelegateSlideIn/DelegateSlideIn.tsx
  react/manager/src/components/Delegate/DelegateSlideIn/__generated__/mutations_CreateDelegateMutation.graphql.ts
  react/manager/src/components/Delegate/DelegateSlideIn/mutations.ts
  react/manager/src/components/PageHeader/PageHeader.tsx
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Setup send email
  api/config.yml
  api/email/email.go
  api/helpers/config.go
  api/main.go
Due: none

Start adding delegate finalise token
  api/auth/auth.go
  api/email/email.go
Due: none

WIP: Add Lesson and CreateLesson
  api/gentypes/lesson.go
  api/middleware/lesson.go
  api/middleware/lesson_test.go
  api/models/module.go
  api/resolvers/lesson.go
  api/resolvers/mutations.go
  api/schema/mutation.graphql
  api/schema/type/lesson.graphql
Due: none

Tag resolvers fix
  api/middleware/lesson.go
  api/resolvers/lesson.go
  api/schema/bindata.go
  api/schema/type/lesson.graphql
Due: none

Lesson tags to use linking + Modify CreateLesson
  api/middleware/lesson.go
  api/models/module.go
Due: none

Add finaliseDelegate token generation
  api/auth/auth.go
  api/auth/auth_test.go
  api/helpers/config.go
  api/models/course.go
Due: none

Update CreateLesson test + Modify lessonToGentype
  api/middleware/lesson.go
  api/middleware/lesson_test.go
Due: none

Remove User models, createDelegate generate password
  api/auth/auth.go
  api/errors/general.go
  api/gentypes/delegate.go
  api/gentypes/manager.go
  api/gentypes/user.go
  api/helpers/testhelpers/fixtures/delegates.yml
  api/loader/manager_test.go
  api/main.go
  api/middleware/admin.go
  api/middleware/company.go
  api/middleware/company_test.go
  api/middleware/delegate.go
  api/middleware/delegate_test.go
  api/middleware/manager.go
  api/middleware/manager_test.go
  api/models/admin.go
  api/models/courseUser.go
  api/models/delegate.go
  api/models/individual.go
  api/models/manager.go
  api/models/user.go
  api/resolvers/delegate.go
  api/resolvers/delegate_mutations.go
  api/resolvers/delegate_mutations_test.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/delegate.graphql
  api/schema/type/manager.graphql
  api/schema/type/users.graphql
  react/manager/src/api/schema.graphql
Due: build-manager-storybook, build-manager-webpack, deploy-manager-storybook, deploy-manager-staging

Add finaliseAccount email template
  api/config.yml
  api/dev_env/test_config.yml
  api/email/delegate.go
  api/email/email.go
  api/email/templates/finaliseAccount.html
  api/errors/general.go
  api/helpers/config.go
  api/main.go
  api/middleware/delegate.go
Due: none

Remove manual test
  api/main.go
Due: none

Fix testing guard
  api/email/email.go
Due: none

Adjust template
  api/email/templates/finaliseAccount.html
  api/middleware/delegate.go
Due: none

Delegate profile image upload
  api/gentypes/delegate.go
  api/middleware/delegate.go
  api/middleware/manager.go
  api/models/delegate.go
  api/resolvers/mutations.go
  api/schema/bindata.go
  api/schema/mutation.graphql
  api/schema/type/delegate.graphql
Due: none

Increase expire time + add remove image func
  api/auth/image_auth.go
  api/uploads/upload.go
Due: none

Add GetLessonByUUID + Update lessons test db
  api/helpers/testhelpers/fixtures/lesson_tags_link.yml
  api/helpers/testhelpers/fixtures/lessons.yml
  api/middleware/lesson.go
  api/middleware/lesson_test.go
Due: none

Add GetLessonsByUUID along with it's test
  api/middleware/lesson.go
  api/middleware/lesson_test.go
Due: none

Start on course sections, Create course etc
  react/admin/src/components/CourseCard.js
  react/admin/src/components/ProjectCard.js
  react/admin/src/routes.js
  react/admin/src/theme/palette.js
  react/admin/src/views/Cards/index.js
  react/admin/src/views/CoursesView/Filter/MultiSelect.js
  react/admin/src/views/CoursesView/Filter/index.js
  react/admin/src/views/CoursesView/Header.js
  react/admin/src/views/CoursesView/Results.js
  react/admin/src/views/CoursesView/index.js
  react/admin/src/views/CreateCourse/Header.js
  react/admin/src/views/CreateCourse/Overview/About.js
  react/admin/src/views/CreateCourse/Overview/CourseFeatures.js
  react/admin/src/views/CreateCourse/Overview/Overview.js
  react/admin/src/views/CreateCourse/Overview/index.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Overview/Projects.js
Due: build-admin, deploy-admin-staging

Start on repeater field
  react/admin/src/components/RichEditor/EditorToolbar.js
  react/admin/src/components/RichEditor/index.js
  react/admin/src/theme/palette.js
  react/admin/src/views/CreateCourse/Overview/About.js
  react/admin/src/views/CreateCourse/Overview/Excerpt.js
  react/admin/src/views/CreateCourse/Overview/Introduction.js
  react/admin/src/views/CreateCourse/Overview/Learn.js
  react/admin/src/views/CreateCourse/Overview/Overview.js
  react/admin/src/views/CreateCourse/Overview/Requirements.js
  react/admin/src/views/CreateCourse/Overview/ToConsider.js
Due: build-admin, deploy-admin-staging

Add more fields
  react/admin/src/views/CreateCourse/About/About.js
  react/admin/src/views/CreateCourse/About/BulletRepeater.js
  react/admin/src/views/CreateCourse/About/Introduction.js
  react/admin/src/views/CreateCourse/About/Requirements.js
  react/admin/src/views/CreateCourse/About/SideOptions.js
  react/admin/src/views/CreateCourse/About/ToConsider.js
  react/admin/src/views/CreateCourse/About/index.js
  react/admin/src/views/CreateCourse/Overview/CourseFeatures.js
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/index.js
Due: build-admin, deploy-admin-staging

Sort linting issues
  react/admin/src/components/CourseCard.js
  react/admin/src/views/CoursesView/Results.js
  react/admin/src/views/CreateCourse/About/About.js
  react/admin/src/views/CreateCourse/About/BulletRepeater.js
  react/admin/src/views/CreateCourse/About/Introduction.js
  react/admin/src/views/CreateCourse/About/SideOptions.js
  react/admin/src/views/CreateCourse/Overview/CourseFeatures.js
  react/admin/src/views/CreateCourse/Overview/CourseInfo.js
  react/admin/src/views/CreateCourse/Overview/Excerpt.js
  react/admin/src/views/CreateCourse/Overview/Overview.js
  react/admin/src/views/CreateCourse/index.js
  react/admin/src/views/Overview/Projects.js
Due: build-admin, deploy-admin-staging

Add lesson dataloader + Update GetLessonsByUUID
  api/loader/lesson.go
  api/loader/loaders.go
  api/middleware/lesson.go
  api/middleware/lesson_test.go
Due: none

Update lesson_test to validate UUIDs
  api/middleware/lesson_test.go
Due: none

Add lesson query + NewLessonResolver(s)
  api/resolvers/lesson.go
  api/resolvers/queries.go
  api/schema/query.graphql
Due: none
